<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Sales</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/elg3osu.css">
    <link th:href="@{/css/wisvch-sales.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="sales/fragments/header :: header"></nav>

<div class="container-fluid">

    <div class="row">
        <main class="col-12" role="main">
            <div class="row justify-content-center">

                <div class="col-12 text-center">
                    <h4 class="">Menu</h4>
                </div>
                <div class="col-12">
                    <div class="row justify-content-between">
                        <div class="col-4 text-center">
                            <a th:href="@{/sales/sell}">
                                <i class="fa fa-ticket-alt fa-fw fa-4x"></i>
                                <p>Sell tickets</p>
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <a th:href="@{/sales/stats}">
                                <i class="fas fa-coins fa-fw fa-4x"></i>
                                <p>See ticket sale</p>
                            </a>
                        </div>
                        <div class="col-4 text-center">
                            <a th:href="@{/sales/scan}">
                                <i class="fa fa-barcode fa-fw fa-4x"></i>
                                <p>Scan tickets</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center fixed-bottom py-2">
                    <span class="form-text text-muted">
                        <i class="fa fa-coffee"></i> Created with caffeine
                    </span>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script th:src="@{/js/js.storage.min.js}"></script>
<script th:src="@{/js/sales/script.min.js}"></script>
</body>
