<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/eonasdan-bootstrap-datetimepicker/4.17.37/build/css/bootstrap-datetimepicker.min.css"
          th:href="@{/webjars/eonasdan-bootstrap-datetimepicker/4.17.37/build/css/bootstrap-datetimepicker.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/js/bootstrap.min.js"
            th:src="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/momentjs/2.10.6/min/moment.min.js"
            th:src="@{/webjars/momentjs/2.10.6/min/moment.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/eonasdan-bootstrap-datetimepicker/4.17.37/build/js/bootstrap-datetimepicker.min.js"
            th:src="@{/webjars/eonasdan-bootstrap-datetimepicker/4.17.37/build/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1>Create an event</h1>

    <p>Fill in all the fields in the form below to create a new event.</p>

    <form action="#" th:action="@{/events/create}" th:object="${event}" class="form-horizontal" method="post">
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>

            <div class="col-sm-8">
                <input type="text" th:field="*{title}" id="inputTitle" class="form-control" placeholder="Title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-8">
                <textarea th:field="*{description}" id="inputDescription" rows="5" class="form-control"
                          placeholder="Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputStart" class="col-sm-2 control-label">Starts at</label>

            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" th:field="*{start}" class="form-control" id="inputStart"
                           placeholder="Start time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEnd" class="col-sm-2 control-label">Ends at</label>

            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" th:field="*{end}" class="form-control" id="inputEnd" placeholder="End time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLimit" class="col-sm-2 control-label">Registration limit</label>

            <div class="col-sm-3">
                <input type="number" th:field="*{registrationLimit}" id="inputLimit" class="form-control"
                       placeholder="Maximum participants"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputRegistrationStart" class="col-sm-2 control-label">Registration open from</label>

            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" th:field="*{registrationStart}" class="form-control" id="inputRegistrationStart"
                           placeholder="Start time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputRegistrationEnd" class="col-sm-2 control-label">Registration closes at</label>

            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" th:field="*{registrationEnd}" class="form-control" id="inputRegistrationEnd"
                           placeholder="End time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Create event!"/>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                var startPicker = $('#inputStart');
                var endPicker = $('#inputEnd');
                var registrationStartPicker = $('#inputRegistrationStart');
                var registrationEndPicker = $('#inputRegistrationEnd');
                var format = "DD/MM/YYYY hh:mm A";

                // Enable date/time pickers
                startPicker.datetimepicker({
                    sideBySide: true,
                    format: format
                });
                endPicker.datetimepicker({
                    useCurrent: false,
                    sideBySide: true,
                    format: format
                });
                registrationStartPicker.datetimepicker({
                    sideBySide: true,
                    format: format
                });
                registrationEndPicker.datetimepicker({
                    useCurrent: false,
                    sideBySide: true,
                    format: format
                });

                // Make date/time pickers dependent
                startPicker.on("dp.change", function (e) {
                    $('#inputEnd').data("DateTimePicker").minDate(e.date);
                });
                endPicker.on("dp.change", function (e) {
                    $('#inputStart').data("DateTimePicker").maxDate(e.date);
                });

                registrationStartPicker.on("dp.change", function (e) {
                    $('#inputRegistrationEnd').data("DateTimePicker").minDate(e.date);
                });
                registrationEndPicker.on("dp.change", function (e) {
                    $('#inputRegistrationStart').data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
    </form>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>
