<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/js/bootstrap.min.js"
            th:src="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>Events</h1>

        <p>
            Shown below are the upcoming events.
        </p>

        <p>
            <a href="#" th:href="@{/events/create}">Create an event</a>
        </p>
    </div>
    <div class="container">
        <div class="alert alert-info" role="alert" th:unless="${#strings.isEmpty(message)}"><p th:text="${message}"></p>
        </div>
        <table class="table" th:unless="${#lists.isEmpty(events)}">
            <thead>
            <tr>
                <th>Event</th>
                <th>Start time</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="event : ${events}">
                <td th:text="${event.title}"></td>
                <td th:text="${event.start}"></td>
                <td><a href="#" class="btn btn-default btn-sm">More info &raquo;</a> <a href="#"
                                                                                        class="btn btn-default btn-sm">Register &raquo;</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>
