<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">


    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div th:replace="fragments/header :: header">
                <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
            </div>
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-offset-2 col-md-10 content-wrapper">
            <div class="page-header">
                <h1><samp th:text="'Order #' + ${order.getId()}"></samp></h1>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div th:replace="fragments/message :: messages"></div>
                </div>
            </div>

            <!--/*@thymesVar id="order" type="ch.wisv.events.core.model.order.Order"*/-->
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Information</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="orderPublicReference" class="control-label">Public
                                                    reference</label>
                                                <input type="text" class="form-control" id="orderPublicReference"
                                                       readonly th:value="${order.getPublicReference()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="orderStatus" class="control-label">Status</label>
                                                <input type="text" class="form-control" id="orderStatus" readonly
                                                       th:value="${order.getStatus().toString()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="orderDate" class="control-label">Created at</label>
                                                <input type="datetime-local" class="form-control" id="orderDate"
                                                       readonly th:value="${order.getCreationDate()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="orderDate" class="control-label">Created by</label>
                                                <input type="text" class="form-control"
                                                       readonly th:value="${order.getCreatedBy()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="orderPaidAt" class="control-label">Paid at</label>
                                                <input type="datetime-local" class="form-control" id="orderPaidAt"
                                                       readonly th:value="${order.getPaidDate()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Customer</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="customerName" class="control-label">Name</label>
                                                <input type="text" class="form-control" id="customerName" readonly
                                                       th:value="${order.getCustomer().getName()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="customerEmail" class="control-label">Email</label>
                                                <input type="text" class="form-control" id="customerEmail" readonly
                                                       th:value="${order.getCustomer().getEmail()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="customerCHUsername" class="control-label">CH
                                                    username</label>
                                                <input type="text" class="form-control" id="customerCHUsername" readonly
                                                       th:value="${order.getCustomer().getChUsername()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Products</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Item</th>
                                    <th class="text-right" style="width: 80px;">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${order.getProducts()}">
                                    <td th:text="${product.getTitle()}"></td>
                                    <td class="text-right"
                                        th:text="'€ ' + ${#numbers.formatDecimal(product.getCost(), 0, 'POINT', 2, 'COMMA')}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Totaal</th>
                                    <th class="text-right"
                                        th:text="'€ ' + ${#numbers.formatDecimal(order.getAmount(), 0, 'POINT', 2, 'COMMA')}"></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<script src="https://use.fontawesome.com/359d25f9da.js"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
</body>
</html>