<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/icons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/icons/safari-pinned-tab.svg}" color="#1e274a">
    <link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" th:content="@{/icons/browserconfig.xml}">
    <meta name="theme-color" content="#ffffff">

    <title>CH Events - Dashboard</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/uet5duo.css" integrity="sha384-Bg9blBrAm2v7bP2AhXtjHdM8p8EeT4YJLHwfJ/1O257DAiLyqhVtYdCB3dzdZsmb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" integrity="sha384-bsGkvB1NLsaPUZL6GG0N5H9GOW9DK6KiHrrDvO57EJXoD9H3gzlohtuPENw9/24L" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<!--/*@thymesVar id="webhook" type="ch.wisv.events.core.model.webhook.Webhook"*/-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/sidebar :: sidebar"></nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 p-5" role="main">
            <h1>Overview</h1>


            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <h6 class="card-header">Total events</h6>
                        <div class="card-body text-primary">
                            <h4 class="card-title">
                                <small>no.</small>
                                [[${totalEvents}]]
                            </h4>
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${increaseEvents} + '%'">
                                </div>
                            </div>
                            <span class="text-dark">
                                <small>
                                    <span th:class="((${increaseEvents} > 0) ? 'text-success' : 'text-danger')">
                                        <i th:class="'fa fa-arrow-' + ((${increaseEvents} > 0) ? 'up' : 'down')"></i>
                                        <strong>[[${increaseEvents}]]%</strong>
                                    </span>
                                    [[${increaseEvents} > 0 ? 'more' : 'less']] than this month last year
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <h6 class="card-header">Total number of customers</h6>
                        <div class="card-body text-primary">
                            <h4 class="card-title">
                                <small>no.</small>
                                [[${totalCustomers}]]
                            </h4>
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${increaseCustomers} + '%'">
                                </div>
                            </div>
                            <span class="text-dark">
                                <small>
                                    <span th:class="((${increaseCustomers} > 0) ? 'text-success' : 'text-danger')">
                                        <i th:class="'fa fa-arrow-' + ((${increaseCustomers} > 0) ? 'up' : 'down')"></i>
                                        <strong>[[${increaseCustomers}]]%</strong>
                                    </span>
                                    [[${increaseCustomers} > 0 ? 'more' : 'less']] than last month
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <h6 class="card-header">Average attendance rate past month</h6>
                        <div class="card-body text-primary">
                            <h4 class="card-title">
                                [[${averageAttendanceRate}]]
                                <small>%</small>
                            </h4>
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${averageAttendanceRate} + '%'">
                                </div>
                            </div>
                            <span class="text-dark">
                                <small>
                                    <span th:class="((${changeAttendanceRate} > 0) ? 'text-success' : 'text-danger')">
                                        <i th:class="'fa fa-arrow-' + ((${changeAttendanceRate} > 0) ? 'up' : 'down')"></i>
                                        <strong>[[${changeAttendanceRate}]]%</strong>
                                    </span>
                                    [[${changeAttendanceRate} > 0 ? 'more' : 'less']] than previous board in the same month
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Upcoming events</h4>

                            <table class="table">
                                <thead class="thead-dark table-sm bg-primary">
                                <tr>
                                    <th class="w-50">Event</th>
                                    <th class="w-50">Progress target</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="event" type="ch.wisv.events.core.model.event.Event"*/-->
                                <tr th:each="event : ${upcoming}">
                                    <td><a th:href="@{'/administrator/events/view/' + ${event.getKey()} + '/'}" th:text="${event.getTitle()}"></a></td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 th:aria-valuenow="${event.getSold()}"
                                                 aria-valuemin="0"
                                                 th:aria-valuemax="${event.getTarget()}"
                                                 th:style="'width: ' + ${event.calcSoldProgress()} + '%;'"
                                                 th:text="${event.calcSoldProgress()} + '%'">
                                                59%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Previous events</h4>

                            <table class="table">
                                <thead class="thead-dark table-sm bg-primary">
                                <tr>
                                    <th class="w-50">Event</th>
                                    <th class="w-50">Attendance rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="event : ${previous}">
                                    <td th:text="${event.key.getTitle()}"></td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 th:aria-valuenow="${event.value}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 th:style="'width: ' + ${event.value} + '%;'"
                                                 th:text="${event.value} + '%'">
                                                59%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>