<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > Create/edit event</title>
</head>
<body>
<!--/*@thymesVar id="event" type="ch.wisv.events.domain.model.event.Event"*/-->
<!--/*@thymesVar id="errors" type="java.util.Map"*/-->
<div layout:fragment="content">
    <h1 class="mb-4 border-bottom-0 font-weight-light">Create/update event</h1>

    <div th:replace="fragments/messages :: messages"></div>

    <form th:action="${#httpServletRequest.requestURI}" th:object="${event}" method="POST"
          enctype="multipart/form-data">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <h6 class="card-header">Information</h6>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">Title <span class="required">*</span>
                                <input type="text" class="form-control" th:field="*{title}"
                                       th:classappend="${errors.containsKey('title')} ? 'is-invalid'"/>
                                <span class="invalid-feedback" th:text="${errors.get('title')}"></span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Short description <span class="required">*</span>
                                <input type="text" class="form-control" th:field="*{shortDescription}"
                                       th:classappend="${errors.containsKey('shortDescription')} ? 'is-invalid'"/>
                                <span class="invalid-feedback" th:text="${errors.get('shortDescription')}"></span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Description <span class="required">*</span>
                                <textarea type="text" class="form-control" rows="5" th:field="*{description}"
                                          th:classappend="${errors.containsKey('description')} ? 'is-invalid'"></textarea>
                                <span class="invalid-feedback" th:text="${errors.get('description')}"></span>
                            </label>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Starting <span class="required">*</span>
                                        <input type="text" class="form-control"
                                               th:field="*{starting}"
                                               th:value="${event.starting}"
                                               th:classappend="${errors.containsKey('starting')} ? 'is-invalid'"
                                               placeholder="Click to select a date..."/>
                                        <span class="invalid-feedback" th:text="${errors.get('starting')}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Ending <span class="required">*</span>
                                        <input type="text" class="form-control" th:field="*{ending}"
                                               th:classappend="${errors.containsKey('ending')} ? 'is-invalid'"
                                               placeholder="Click to select a date..."/>
                                        <span class="invalid-feedback" th:text="${errors.get('ending')}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Location <span class="required">*</span>
                                <input type="text" class="form-control" th:field="*{location}"
                                       th:classappend="${errors.containsKey('location')} ? 'is-invalid'"/>
                                <span class="invalid-feedback" th:text="${errors.get('location')}"></span>
                            </label>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Ticket target <span class="required">*</span>
                                        <input type="text" class="form-control" th:field="*{ticketTarget}"
                                               th:classappend="${errors.containsKey('ticketTarget')} ? 'is-invalid'"/>
                                        <span class="invalid-feedback" th:text="${errors.get('ticketTarget')}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Ticket limit <span class="required">*</span>
                                        <input type="text" class="form-control" th:field="*{ticketLimit}"
                                               th:classappend="${errors.containsKey('ticketLimit')} ? 'is-invalid'"/>
                                        <span class="invalid-feedback" th:text="${errors.get('ticketLimit')}"></span>
                                    </label>
                                    <small class="form-text text-muted">Fill in zero for no limit.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-4">
                    <h6 class="card-header">Image</h6>
                    <div class="card-body">
                        <div class="input-group">
                            <label for="file" class="btn btn-primary custom-file-upload input-group-prepend">
                                <i class="fas fa-upload"></i> Upload
                            </label>
                            <input type="text" class="form-control border-left-0" id="fileDisplay"
                                   placeholder="Choose a file..." readonly>
                        </div>
                        <input id="file" name="file" type="file" class="d-none"/>
                        <small class="form-text text-muted">Max size is 4Mb and only png, jpg are allowed.</small>
                    </div>
                </div>
                <div class="card">
                    <h6 class="card-header">Options</h6>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Status <span class="required">*</span>
                                <select class="form-control" th:field="*{status}"
                                        th:classappend="${errors.containsKey('status')} ? 'is-invalid'">
                                    <!--/*@thymesVar id="status" type="ch.wisv.events.domain.model.event.EventStatus"*/-->
                                    <option th:each="status : ${T(ch.wisv.events.domain.model.event.EventStatus).values()}"
                                            th:value="${status}"
                                            th:text="${status.getDisplayName()}">
                                    </option>
                                </select>
                                <span class="invalid-feedback" th:text="${errors.get('status')}"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Organized by <span class="required">*</span>
                                <select class="form-control" th:field="*{organizedBy}"
                                        th:classappend="${errors.containsKey('organizedBy')} ? 'is-invalid'">
                                    <option value="">-- Select committee --</option>
                                    <!--/*@thymesVar id="group" type="ch.wisv.events.domain.model.user.LdapGroup"*/-->
                                    <option th:each="group : ${T(ch.wisv.events.domain.model.user.LdapGroup).values()}"
                                            th:value="${group}"
                                            th:text="${group.getName()}">
                                    </option>
                                </select>
                                <span class="invalid-feedback" th:text="${errors.get('organizedBy')}"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="mb-2">Categories <span class="required">*</span>
                                <!--/*@thymesVar id="category" type="ch.wisv.events.domain.model.event.EventCategory"*/-->
                                <div class="form-check pl-0"
                                     th:each="category : ${T(ch.wisv.events.domain.model.event.EventCategory).values()}">
                                    <label class="form-check-label custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               th:field="*{categories}"
                                               th:value="${category}"
                                               th:checked="${event.getCategories().contains(category)}">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-dark font-weight-normal">[[${category.getDisplayName()}]]</span>
                                    </label>
                                </div>
                                <span class="invalid-feedback d-block" th:text="${errors.get('categories')}"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <input type="submit" class="btn btn-danger" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script layout:fragment="script" th:inline="javascript">
    var CustomImageInput;

    (function ($) {

        CustomImageInput = {
            init: function () {
                CustomImageInput.binds();
            },

            binds: function () {
                $("#file").on("change", CustomImageInput.__fileChange)
            },

            __fileChange: function (e) {
                e.preventDefault();

                if (this.files[0].size > 4 * 1024 * 1024) {
                    alert("File size exceeds 4Mb limit");
                    return false;
                } else {
                    $("#fileDisplay").val(this.files[0].name);
                    return true;
                }
            }
        };
    })
    (jQuery);

    $(document).ready(function () {
        var config = {
            enableTime: true,
            altInput: true,
            altFormat: 'F j, Y H:i',
            dateFormat: 'Z',
            time_24hr: true
        };
        $('#starting').flatpickr(config);
        $('#ending').flatpickr(config);

        CustomImageInput.init();
    });
</script>
</body>
</html>