<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Events</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Events
        <a class="badge badge-danger" th:href="@{'/administrator/events/create'}">
            <i class="fa fa-plus" aria-hidden="true"></i> New
        </a>
    </h1>

    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}">success message</p>
    </div>

    <table class="table table-striped" id="eventsTable">
        <thead class="thead-inverse bg-primary">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Status</th>
            <th>Published by</th>
            <th>Progress target</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="event" type="ch.wisv.events.domain.model.event.Event"*/-->
        <tr th:each="event : ${events}" th:attr="data-key=${event.getPublicReference()}">
            <td th:text="${event.getTitle()}">posted on</td>
            <td th:text="${event.getTitle()}">posted on</td>
            <td th:text="${event.getTitle()}">posted on</td>
            <td th:text="${event.getTitle()}">posted on</td>
            <td th:text="${event.getTitle()}">posted on</td>
            <td class="text-right">
                <a class="btn btn-sm btn-danger"
                   th:href="@{'/administrator/events/edit/' + ${event.getPublicReference()}}">
                    <i class="fas fa-archive"></i> Unarchive
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script layout:fragment="script" th:inline="javascript">
    $(document).ready(function () {
        var inboxTables = $("#eventsTable");
        inboxTables.DataTable({
            pageLength: 100,
            ordering: false,
            columns: [
                {"width": "15%"},
                {"width": "50%"},
                null,
                null,
                null,
                {"width": "80px"}
            ]
        });
        inboxTables.find('tbody').on('click', 'tr td:not(:last-child)', function () {
            /*[+ var link = [[@{/administrator/events/view/}]] + $(this).parent().data('key'); +]*/
            document.location = link;
        });
    });
</script>
</body>
</html>