<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Dashboard > Events</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/sidebar :: sidebar"></nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 p-5" role="main">
            <h1>Events
                <a class="badge badge-danger" th:href="@{create/}">
                    <i class="fa fa-plus" aria-hidden="true"></i> New
                </a>
            </h1>

            <div th:replace="fragments/messages :: messages"></div>

            <div class="table-responsive">
                <table id="eventTable" class="table table-striped">
                    <thead class="thead-inverse bg-primary">
                    <tr>
                        <th>Title</th>
                        <th>Starting date</th>
                        <th>Status</th>
                        <th>Organized by</th>
                        <th>Progress target</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="event" type="ch.wisv.events.core.model.event.Event"*/-->
                    <tr th:each="event : ${events}" th:attr="data-key=${event.getKey()}">
                        <td th:text="${event.getTitle()}">Row 1 Data 1</td>
                        <td th:text="${event.getStart()}"></td>
                        <td th:text="${event.getPublished()}"></td>
                        <td th:text="${event.getOrganizedBy().getName()}"></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" th:aria-valuenow="${event.getSold()}"
                                     aria-valuemin="0"
                                     th:aria-valuemax="${event.getTarget()}"
                                     th:style="'width: ' + ${event.calcProgress()} + '%;'"
                                     th:text="${event.calcProgress()} + '%'">
                                    59%
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a th:href="'edit/' + ${event.getKey()} + '/'" class="btn btn-sm btn-info">
                                    <i class="fa fa-fw fa-edit"></i>
                                </a>
                                <a th:href="'overview/' + ${event.getKey()} + '/'" class="btn btn-sm btn-success">
                                    <i class="fa fa-fw fa-stack-overflow"></i>
                                </a>
                                <a th:href="'delete/' + ${event.getKey()} + '/'"
                                   th:onclick="'return confirm(\'Are you sure you want to delete ' + ${event.title} + '?\');'"
                                   class="btn btn-sm btn-danger">
                                    <i class="fa fa-fw fa-remove glyphicon-remove"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        var table = $('#eventTable');
        table.DataTable({
            pageLength: 25,
            order: [
                [1, "desc"]
            ],
            columnDefs: [
                {width: "120px", targets: [1, 3, 5]},
                {width: "60px", targets: 2},
                {width: "180px", targets: 4}
            ]
        });

        var dataTablesFilter = $('.dataTables_filter');
        dataTablesFilter.empty(); // clears the content generated
        dataTablesFilter.append('<label>' +
            '<input type="search" id="dataTableFilter" class="form-control" placeholder="Search..." ' +
            'aria-controls="eventTable"></label>');

        $("#dataTableFilter").on('keyup', function () {
            table.DataTable().search($(this).val()).draw();
        });

        table.find('tbody').on('click', 'tr td:not(:last-child)', function () {
            /*[+ var link = [[@{/administrator/events/view/}]] + $(this).parent().data('key') + "/"; +]*/
            document.location = link;
        });
    });
</script>
</body>