<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Events</title>
</head>
<body>
<!--/*@thymesVar id="event" type="ch.wisv.events.domain.model.event.Event"*/-->
<div layout:fragment="content">

    <h1 class="display-4 mb-0 border-bottom-0" th:text="${event.getTitle()}"></h1>

    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a th:href="@{'/administrator/events/edit/' + ${event.getPublicReference()}}"
                               class="btn btn-block btn-info">
                                <i class="fa fa-edit" aria-hidden="true"></i> Edit
                            </a>
                        </div>
                        <div class="col">
                            <a th:href="'delete/' + ${event.getPublicReference()} + '/'"
                               th:onclick="'return confirm(\'Are you sure you want to delete ' + ${event.getTitle()} + '?\');'"
                               class="btn btn-block btn-danger">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/messages :: messages"></div>

    <div class="row">
        <div class="col">
            <div class="card">
                <h6 class="card-header">Information</h6>
                <div class="card-body">
                    <div class="form-group">
                        <label>Title
                            <input type="text" class="form-control" th:value="${event.getTitle()}"
                                   readonly>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Short description
                            <input type="text" class="form-control" th:value="${event.getShortDescription()}"
                                   readonly>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Description
                            <textarea type="text" class="form-control" rows="5" th:text="${event.getDescription()}"
                                      style="height: 150px" readonly></textarea>
                        </label>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label>Starting time
                                <input type="text" class="form-control" th:value="${event.getStarting()}"
                                       readonly>
                            </label>
                        </div>
                        <div class="form-group col">
                            <label>Ending time
                                <input type="text" class="form-control" th:value="${event.getEnding()}"
                                       readonly>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location
                            <input type="text" class="form-control" th:value="${event.getLocation()}"
                                   readonly>
                        </label>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label>Target
                                <input type="text" class="form-control" th:value="${event.getTicketTarget()}"
                                       readonly>
                            </label>
                        </div>
                        <div class="form-group col">
                            <label>Limit
                                <input type="text" class="form-control" th:value="${event.getTicketLimit()}"
                                       readonly>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-4">
                <h6 class="card-header">Image</h6>
                <div class="card-body">
                    <img class="img-fluid img-thumbnail" th:src="${event.getImage()}" alt="">
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">Options</h6>
                <div class="card-body">
                    <div class="form-group">
                        <label>Status
                            <input type="text" class="form-control" th:value="${event.getStatus().getDisplayName()}"
                                   readonly>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Organized by
                            <input type="text" class="form-control" th:value="${event.getOrganizedBy().getName()}"
                                   readonly>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Categories</label>
                        <!--/*@thymesVar id="category" type="ch.wisv.events.domain.model.event.EventCategory"*/-->
                        <div class="form-check pl-0"
                             th:each="category : ${T(ch.wisv.events.domain.model.event.EventCategory).values()}">
                            <label class="form-check-label custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" disabled
                                       th:value="${category}"
                                       th:checked="${event.getCategories().contains(category)}">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description text-dark font-weight-normal">[[${category.getDisplayName()}]]</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>