<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Sales</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>

<body id="scanPage">
<nav th:replace="fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <main class="col-12 ml-auto p-5" role="main">
            <div th:replace="fragments/messages :: messages"></div>

            <!--/*@thymesVar id="customer" type="ch.wisv.events.core.model.customer.Customer"*/-->
            <form th:action="@{./}" th:object="${customer}" method="POST" id="formScan">
                <div class="row">
                    <div class="col-12 text-center mt-5">
                        <h3 class="border-bottom-0">Scan RFID- or NFC card</h3>

                        <input type="hidden" th:field="*{rfidToken}" id="rfidToken">
                        <input type="submit" style="display: none;">


                        <h1 class="border-bottom-0" style="font-weight: 100;">or</h1>
                        <h3 class="border-bottom-0">Fill in an email address</h3>
                    </div>

                    <div class="col-12 text-center">
                        <div class="form-group">
                            <input type="email" class="form-control input-lg" th:field="*{email}"
                                   placeholder="Email address">
                        </div>

                        <button type="submit" class="btn btn-lg btn-block btn-danger">Submit</button>
                    </div>
                </div>
            </form>

            <!--<div class="fixed-bottom m-3">-->
            <!--<a th:href="@{'/sales/order/' + ${order.getPublicReference()} + '/customer/create/'}"-->
            <!--class="btn btn-lg btn-link btn-block">-->
            <!--Create new user (without rfid!)-->
            <!--</a>-->
            <!--</div>-->
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script>
    $("#scanPage").on('keypress', function (e) {
        var token = $("#rfidToken");

        if (e.which === 13) {
            $("#formScan").submit();
            return false;
        }
        token.val(token.val() + e.key);
    })
</script>
</body>
</html>