<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/chales.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="scanPage">
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/header :: header">
            <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 main text-center" style="margin-top: 60px;">
            <h3>Scan RFID- or NFC card</h3>
            <p class="help-block">
                When there is a new user that wants to use rfid! Please first scan the rfid card, then create an
                account.
            </p>
            <!--/*@thymesVar id="order" type="ch.wisv.events.core.model.order.Order"*/-->
            <form th:action="@{./}" th:object="${order}" method="POST" id="formScan">
                <input type="hidden" th:field="*{publicReference}" th:value="*{publicReference}">
                <input type="hidden" th:field="*{customer.rfidToken}" id="rfidToken">

                <input type="submit" style="display: none;">
            </form>

            <div class="row">
                <h1 style="font-weight: 100;">or</h1>
            </div>

            <h3>Fill in a email-address</h3>
        </div>

        <div class="col-sm-4 col-sm-offset-4">
            <form th:action="@{./}" th:object="${order}" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control input-lg" th:field="*{customer.email}"
                           placeholder="Email address">
                </div>

                <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="row" style="position: fixed; bottom: 15px; left: 15px; right: 15px;">
        <div class="col-xs-12">
            <a th:href="@{'/sales/order/' + ${order.getPublicReference()} + '/customer/create/'}"
               class="btn btn-lg btn-warning btn-block">
                Create new user (without rfid!)
            </a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script>
    $("#scanPage").on('keypress', function (e) {
        var token = $("#rfidToken");

        if (e.which === 13) {
            $("#formScan").submit();
            return false;
        }
        token.val(token.val() + e.key);
        console.log(e.key);
    })
</script>
</body>
</html>