<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/elg3osu.css">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-header.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-tickets.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="webshop/fragments/header :: header ('Checkout', 'events_header.jpg')"></nav>

<div class="container">
    <div class="row">
        <main class="col py-5" role="main">
            <div th:replace="fragments/messages :: messages"></div>

            <div class="row">
                <div class="col-12 col-md-5">
                    <h4 class="display-5 mb-5">CH Connect</h4>

                    <p class="mb-2">
                        Proceed checking out by logging in through CH Connect. You will need to be a member of W.I.S.V.
                        'Christiaan Huygens' with a TU Delft NetID or a CH account.
                    </p>

                    <a th:href="@{'/checkout/' + ${order.getPublicReference()} + '/customer/chconnect'}"
                       class="btn btn-block btn-info my-4">
                        Checkout through CH Connect
                    </a>

                    <p class="text-muted">
                        CH member and unable to use CH Connect? Please send an email to
                        <a href="mailto:board@ch.tudelft.nl">board@ch.tudelft.nl</a>
                        including your full name, student number and NetID so that we can update your membership record.
                    </p>
                </div>
                <div class="col-12 col-md-2">
                    <div class="d-flex flex-column align-self-stretch align-items-center h-100">
                        <div class="d-flex align-self-stretch h-100 justify-content-center">
                            <div class="vertical-line"></div>
                        </div>
                        <h4 class="my-3">or</h4>
                        <div class="d-flex align-self-stretch h-100 justify-content-center">
                            <div class="vertical-line"></div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-5">
                    <h4 class="display-5 mb-5">Guest</h4>

                    <p class="mb-2">
                        <b>Not a CH member or unable to use CH Connect?</b>
                        No problem, proceed checking out without logging in.
                    </p>

                    <p class="mb-2 text-danger" th:if="${chOnly}">
                        There is a CH only product in the order, so it is only possible to
                        checkout with a verified email address.
                    </p>

                    <a th:href="@{'/checkout/' + ${order.getPublicReference()} + '/customer/guest'}"
                       class="btn btn-block btn-info my-4">
                        Checkout as guest
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
