<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="webshop/webshop-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Checkout</title>
</head>
<body>
<div class="page-title" layout:fragment="title" style="background-image:url('/events/images/events_header.jpg')">
    <div class="row">
        <div class="col">
            <h1>Checkout</h1>
        </div>
    </div>
</div>
<div layout:fragment="content">
    <div class="row my-4">
        <div class="col-12">
            <h1 class="display-4 fa-2x">Shopping cart</h1>
        </div>
        <div class="col-12 my-4">
            <div class="row justify-content-between">
                <div class="col-6 col-md-3">
                    <a th:href="@{'/webshop/'}" class="btn btn-block btn-info">
                        <i class="fa fa-fw fa-arrow-left"></i>
                        Go back
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a href="" class="btn btn-block btn-secondary">
                        Checkout <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8 order-first order-md-last">
            <div class="card mb-4" th:each="orderItem : ${order.getItems()}">
                <div class="card-body">
                    <div class="row mx-0 justify-content-between">
                        <strong th:text="${orderItem.getProduct().getTitle()}"></strong>
                        <strong th:text="'€ ' + ${#numbers.formatDecimal(orderItem.getProduct().getPrice(), 1, 'POINT', 2, 'COMMA')}"></strong>
                    </div>

                    <div class="row" th:if="${orderItem.getProductOption() != null}">
                        <p class="col-12 text-muted mt-3 mb-0">Additional option</p>
                        <ul class="text-muted">
                            <li>
                                <span th:text="${orderItem.getProductOption().getTitle()}"></span>
                                +(<span
                                    th:text="'€ ' + ${#numbers.formatDecimal(orderItem.getProductOption().getAdditionalPrice(), 1, 'POINT', 2, 'COMMA')}"></span>)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="form form-horizontal">
                                <div class="form-group row align-items-center">
                                    <span class="col">Amount</span>
                                    <div class="col">
                                        <input class="form-control" disabled th:value="${orderItem.getAmount()}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col text-right font-weight-bold align-self-center">
                            <span class="pr-3">Total:</span>
                            <span th:text="'€ ' + ${#numbers.formatDecimal(orderItem.getPrice() * orderItem.getAmount(), 1, 'POINT', 2, 'COMMA')}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 col-lg-4 order-last order-md-first">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row py-2">
                        <div class="col">
                            Total article
                            <small>(10)</small>
                        </div>
                        <div class="col text-right font-weight-bold"
                             th:text="'€ ' + ${#numbers.formatDecimal(order.getTotalPrice(), 1, 'POINT', 2, 'COMMA')}"></div>
                    </div>

                    <div class="row border-top py-2">
                        <div class="col font-weight-bold">
                            Total
                        </div>
                        <div class="col text-right font-weight-bold"
                             th:text="'€ ' + ${#numbers.formatDecimal(order.getTotalPrice(), 1, 'POINT', 2, 'COMMA')}"></div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <a href="" class="btn btn-block btn-secondary">
                                Checkout <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
