<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Scan</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/chales.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/header :: header">
            <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div th:replace="fragments/message :: messages"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2rem;">
        <div class="col-sm-12">
            <h3 class="text-center">Select a product</h3>
        </div>
    </div>
    <!--/*@thymesVar id="products" type="List<ch.wisv.events.core.model.product.Product>"*/-->
    <div class="row" th:each=" product : ${products}" style="margin-bottom: 2rem;">
        <div class="col-xs-6 col-xs-offset-3">
            <a th:href="@{'/scan/product/' + ${product.getKey()} + '/'}" class="btn btn-lg btn-block btn-primary">
                <span th:text="${product.getTitle()}"></span>
                <i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/events.js}"></script>
<script>
    $(document).ready(function () {
        $("input[type=number]").each(function () {
            $(this).val(0);
        });

        $(".decrease").on("click", function () {
            var el = $(this).parent().children("input[type=number]")[0];
            var amount = parseInt($(el).val());

            if (amount > 0) $(el).val(amount - 1);
        });

        $(".increase").on("click", function () {
            var el = $(this).parent().children("input[type=number]")[0];
            var amount = parseInt($(el).val());

            $(el).val(amount + 1);
        });

        $("form").on('submit', function (e) {
            const productInput = '<input type="hidden" id="products{0}" name="products[{1}]" value="{2}">';
            var count = 0;

            $("input[type=number]").each(function () {
                for (var i = 0; i < parseInt($(this).val()); i++) {
                    var productId = $(this).data('product-id');

                    $("#products").append(format(productInput, [count, count, productId]));
                    count++;
                }
            });
        });
    });
</script>
</body>
</html>