<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div th:replace="fragments/header :: header">
                <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
            </div>
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-offset-2 col-md-10 content-wrapper">
            <!--/*@thymesVar id="mode" type="ch.wisv.events.utils.FormMode"*/-->
            <div class="page-header">
                <h1><samp th:text="${mode.getDisplayName() + ' event'}"></samp></h1>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div th:replace="fragments/message :: messages"></div>
                </div>
            </div>

            <div class="row">
                <!--/*@thymesVar id="event" type="ch.wisv.events.core.model.event.Event"*/-->
                <form th:action="@{'/dashboard/events/' + ${mode.getFormAction()}}" th:object="${event}"
                      method="POST">
                    <input type="hidden" th:field="*{key}" th:value="*{key}">

                    <div class="col-sm-12 col-md-6">
                        <div th:replace="dashboard/events/fragments/event-panel-information :: panel-information"></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div th:replace="dashboard/events/fragments/event-panel-options :: panel-options"></div>
                        <div th:replace="dashboard/events/fragments/event-panel-products :: panel-products"></div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" th:value="${mode.getDisplayName() + ' event'}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/flatpickr/3.0.6/src/flatpickr.js}"></script>
<script th:src="@{/js/events.js}"></script>
<script th:src="@{/js/events/main.js}"></script>
</body>
</html>