<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Dashboard > Penningmeester</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/elg3osu.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/sidebar :: sidebar"></nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 p-5" role="main">
            <h1>Mollie Overview</h1>

            <div th:replace="fragments/messages :: messages"></div>

            <div class="table-responsive">
                <table id="penningmeesterOverview" class="table table-striped">
                    <thead class="thead-inverse bg-primary">
                    <tr>
                        <th>Date</th>
                        <th>Tickets sold</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="date : ${productMap}">
                        <td th:text="${#temporals.format(date.key, 'MMMM Y')}"></td>
                        <td>
                            <table class="table table-striped table-inner-table">
                                <thead class="thead-inverse bg-primary">
                                <tr>
                                    <th>Name</th>
                                    <th class="text-center">Number</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-right">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${date.value}">
                                    <td th:text="${product.key.getTitle()}"></td>
                                    <td th:text="${product.value}" class="text-center"></td>
                                    <td th:text="'€ ' + ${#numbers.formatDecimal(product.key.getCost(), 1, 'POINT', 2, 'COMMA')}"
                                        class="text-right">
                                    <td th:text="'€ ' + ${#numbers.formatDecimal(product.key.getCost() * product.value, 1, 'POINT', 2, 'COMMA')}"
                                        class="text-right"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th class="sum text-center"></th>
                                    <th class="sum currency text-right"></th>
                                    <th class="sum currency text-right"></th>
                                </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        var table = $('#penningmeesterOverview');
        table.DataTable({
            order: [
                [0, "desc"]
            ],
            pageLength: 12,
            columnDefs: [
                {type: 'date-range', width: "140px", targets: 0}
            ]
        });

        var dataTablesFilter = $('.dataTables_filter');
        dataTablesFilter.empty(); // clears the content generated
        dataTablesFilter.append('<label>' +
            '<input type="search" id="dataTableFilter" class="form-control" placeholder="Search..." ' +
            'aria-controls="orderTable"></label>');

        $("#dataTableFilter").on('keyup', function () {
            table.DataTable().search($(this).val()).draw();
        });

        $(".table-inner-table").each(function (k, value) {
            var table = $(value).DataTable({
                searching: false,
                paging: false,
                "bInfo": false,
                columnDefs: [
                    {width: "100px", targets: [1, 2, 3]}
                ]
            });

            table.columns().every(function () {
                var sum = this
                    .data()
                    .reduce(function (a, b) {
                        b = b.replace('€ ', '').replace('.', '').replace(',', '.');

                        var x = parseFloat(a) || 0;
                        var y = parseFloat(b) || 0;
                        return x + y;
                    }, 0);

                let footer = $(this.footer());
                if (footer.hasClass("sum")) {
                    if (footer.hasClass("currency")) {
                        console.log(sum);
                        sum = '€ ' + sum.toFixed(2).replace('.', ',');
                    }

                    footer.html(sum);
                }
            });
        });
    });

    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-range-pre": function (a) {
            var monthArr = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

            return monthArr.indexOf(a);
        }
    });
</script>
</body>
</html>