<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > Webhook</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Webhooks
        <a class="badge badge-danger" th:href="@{'/administrator/webhooks/create'}">
            <i class="fa fa-plus" aria-hidden="true"></i> New
        </a>
    </h1>

    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}">success message</p>
    </div>

    <table id="webhookTable" class="table table-striped">
        <thead class="thead-inverse bg-primary">
        <tr>
            <th>Payload URL</th>
            <th>LDAP Group</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="webhook" type="ch.wisv.events.domain.model.webhook.Webhook"*/-->
        <tr th:each="webhook : ${webhooks}" th:attr="data-key=${webhook.getPublicReference()}">
            <td th:text="${webhook.getPayloadUrl()}"></td>
            <td th:text="${webhook.getAuthLdapGroup()}"></td>
            <td class="text-right">
                <div class="btn-group" role="group">
                    <a class="btn btn-sm btn-info"
                       th:href="@{'/administrator/webhooks/edit/' + ${webhook.getPublicReference()}}">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger"
                       th:href="@{'/administrator/webhooks/delete/' + ${webhook.getPublicReference()}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script layout:fragment="script" th:inline="javascript">
    $(document).ready(function () {
        var inboxTables = $("#webhookTable");
        inboxTables.DataTable({
            pageLength: 100,
            ordering: false,
            columns: [
                null,
                {"width": "25%"},
                {"width": "80px"}
            ]
        });
        inboxTables.find('tbody').on('click', 'tr td:not(:last-child)', function () {
            /*[+ var link = [[@{/administrator/webhooks/view/}]] + $(this).parent().data('key'); +]*/
            document.location = link;
        });
    });
</script>
</body>
</html>