<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > Create/edit webhook</title>
</head>
<body>
<!--/*@thymesVar id="webhook" type="ch.wisv.events.domain.model.webhook.Webhook"*/-->
<!--/*@thymesVar id="errors" type="java.util.Map"*/-->
<div layout:fragment="content">
    <h1 class="mb-4 border-bottom-0 font-weight-light">Create/update webhook</h1>

    <div th:replace="fragments/messages :: messages"></div>

    <div class="row">
        <div class="col">
            <div class="card">
                <h6 class="card-header">Details</h6>
                <div class="card-body">
                    <div class="form">
                        <div class="form-group">
                            <label>Payload URL
                                <input type="text" class="form-control" th:value="${webhook.getPayloadUrl()}" readonly/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Secret <span class="required">*</span>
                                <input type="password" class="form-control" id="secret"
                                       th:value="${webhook.getSecret()}" readonly/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>LDAP Group <span class="required">*</span>
                                <input type="text" class="form-control" th:value="${webhook.getAuthLdapGroup()}"
                                       readonly/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-check-label custom-control custom-checkbox">
                                Active
                                <input type="checkbox" class="custom-control-input" th:checked="${webhook.isActive()}">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a th:href="@{'/administrator/webhooks/edit/' + ${webhook.getPublicReference()}}"
                               class="btn btn-block btn-info">
                                <i class="fa fa-edit" aria-hidden="true"></i> Edit
                            </a>
                        </div>
                        <div class="col">
                            <a th:href="@{'/administrator/webhooks/delete/' + ${webhook.getPublicReference()}}"
                               class="btn btn-block btn-danger">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">Events</h6>
                <div class="card-body">
                    <!--/*@thymesVar id="webhookEvent" type="ch.wisv.events.domain.model.webhook.WebhookEvent"*/-->
                    <div class="row">
                        <div class="col-6 mb-3"
                             th:each="webhookEvent : ${T(ch.wisv.events.domain.model.webhook.WebhookEvent).values()}">
                            <label class="form-check-label custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       th:value="${webhookEvent}"
                                       th:checked="${webhook.getEvents().contains(webhookEvent)}">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">
                                        <span class="text-primary text-uppercase">[[${webhookEvent.getName()}]]</span><br>
                                        <span class="text-dark font-weight-normal">[[${webhookEvent.getDescription()}]]</span>
                                    </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    $(document).ready(function () {
        let secret = $("#secret");

        secret.password({
            eyeClass: 'far',
            eyeOpenClass: 'fa-eye',
            eyeCloseClass: 'fa-eye-slash'
        });
        secret.password('hide');
    });
</script>
</body>
</html>