<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Dashboard > Webhooks</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/elg3osu.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<!--/*@thymesVar id="webhook" type="ch.wisv.events.core.model.webhook.Webhook"*/-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/sidebar :: sidebar"></nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 p-5" role="main">
            <h1>Webhook #[[${webhook.getId()}]]
                <a class="badge badge-info" th:href="@{'/administrator/webhooks/edit/' + ${webhook.getKey()} + '/'}">
                    <i class="fa fa-edit" aria-hidden="true"></i> Edit
                </a>
            </h1>

            <div th:replace="fragments/messages :: messages"></div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <h6 class="card-header">Details</h6>
                        <div class="card-body">
                            <div class="row form">
                                <div class="form-group col-sm-12">
                                    <label>Payload URL
                                        <input type="text" class="form-control" th:value="${webhook.getPayloadUrl()}"
                                               readonly>
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>LDAP group
                                        <input type="text" class="form-control"
                                               th:value="${webhook.getLdapGroup().getName()}"
                                               readonly>
                                    </label>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Secret
                                        <input type="password" id="secret" class="form-control"
                                               th:value="${webhook.getSecret()}" data-toggle="password" readonly>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <h6 class="card-header">Triggers</h6>
                        <div class="card-body">
                            <!--/*@thymesVar id="webhookTrigger" type="ch.wisv.events.core.model.webhook.WebhookTrigger"*/-->
                            <div class="row">
                                <div class="col-sm-6"
                                     th:each="webhookTrigger : ${T(ch.wisv.events.core.model.webhook.WebhookTrigger).values()}">
                                    <div class="row">
                                        <div class="col">
                                            <span class="text-success"
                                                  th:if="${webhook.getWebhookTriggers().contains(webhookTrigger)}">
                                                <i class="fas fa-check"></i>
                                            </span>

                                            <span class="text-danger"
                                                  th:if="${!webhook.getWebhookTriggers().contains(webhookTrigger)}">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        </div>
                                        <div class="col-10">
                                            <h6 style="letter-spacing: 0" th:text="${webhookTrigger.getName()}"></h6>
                                            <p class="text-sm text-gray"
                                               th:text="${webhookTrigger.getDescription()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-show-password.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#secret").password('hide');
    });
</script>
</body>
</html>