<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/icons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/icons/safari-pinned-tab.svg}" color="#1e274a">
    <link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" th:content="@{/icons/browserconfig.xml}">
    <meta name="theme-color" content="#ffffff">

    <title>CH Events - Sales</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/elg3osu.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-sales.css}" rel="stylesheet">
</head>

<body id="scanPage">
<nav th:replace="sales/fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <main class="col-12" role="main">
            <div th:replace="fragments/messages :: messages"></div>

            <!--/*@thymesVar id="customer" type="ch.wisv.events.core.model.customer.Customer"*/-->
            <form th:action="@{'/sales/sell/customer/' + ${order.getPublicReference()}}" th:object="${customer}"
                  method="POST" class="w-100">
                <div class="row">
                    <div class="col-12">
                        <input type="hidden" th:value="*{getRfidToken()}" th:field="*{rfidToken}" required>
                        <h3 class="border-bottom-0">Create a new user</h3>

                        <div class="form-group">
                            <label>Full name*</label>
                            <input type="text" class="form-control" placeholder="Full name"
                                   th:value="*{getName()}" th:field="*{name}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address*</label>
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                   th:value="*{getEmail()}" th:field="*{email}" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-block btn-secondary">Create user</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
</body>
</html>