<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/icons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/icons/safari-pinned-tab.svg}" color="#1e274a">
    <link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" th:content="@{/icons/browserconfig.xml}">
    <meta name="theme-color" content="#ffffff">

    <title>CH Events - Sales > Scan</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/uet5duo.css" integrity="sha384-Bg9blBrAm2v7bP2AhXtjHdM8p8EeT4YJLHwfJ/1O257DAiLyqhVtYdCB3dzdZsmb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" integrity="sha384-bsGkvB1NLsaPUZL6GG0N5H9GOW9DK6KiHrrDvO57EJXoD9H3gzlohtuPENw9/24L" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">

    <style>
        html,
        body {
            overflow: hidden;
            height: calc(100vh);
            width: calc(100vw);
        }

        .overlay, .container-fluid {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .container-fluid {
            z-index: 2;
        }

        .container-fluid h3 {
            border-bottom: 0;
            color: #f3f3f3;
            font-size: 18px;
        }

        .overlay-upper,
        .overlay-lower {
            position: relative;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6);
            height: calc(33vh);
        }

        .overlay-upper {
            top: 0;
        }

        .overlay-lower {
            top: calc(34vh);
        }

        #interactive video,
        #interactive canvas {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
    </style>
</head>

<body id="scanPage">
<nav th:replace="~{fragments/header :: header}"></nav>


<div class="overlay">
    <div class="overlay-upper"></div>
    <div class="overlay-lower">
        <div th:if="${error}" class="alert alert-dismissible fade show alert-danger w-100" role="alert">
            <span class="fa fa-exclamation" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <strong>ERROR:</strong> <span th:text="${error}"></span>
        </div>
    </div>
</div>
<div id="interactive" class="viewport"></div>


<div class="container-fluid">
    <div class="row align-items-center" style="height: calc(33vh - 56px);">
        <div class="col-12 text-center text-light">
            <p>Scan barcode for event</p>
            <h3 th:text="${event.getTitle()}"></h3>
        </div>
    </div>
</div>

<div class="fixed-bottom p-3">
    <a th:href="@{'/sales/scan/event/' + ${event.getKey()} + '/code'}" class="btn btn-lg btn-block btn-dark">
        go to code scanner
    </a>
</div>

<form th:action="@{'/sales/scan/event/' + ${event.getKey()} + '/barcode'}" method="POST" id="formScan">
    <input type="hidden" name="barcode" id="barcode">
</form>

<div class="fixed-top py-2 text-white d-none" id="errorPage"
     style="height: calc(100vh); z-index: 1100; background-color: #ff3b30;">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <p style="font-size: 7.5rem;">
                <i class="fas fa-exclamation"></i>
            </p>
            <h4 class="display-4 text-white" style="font-size: 3.5rem;" id="errorMessage"></h4>
        </div>
    </div>
</div>

<div class="fixed-top py-2 text-white d-none" id="doublePage"
     style="height: calc(100vh - .5rem); background-color: #ffb142">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <p style="font-size: 7.5rem;">
                <i class="fas fa-check-double"></i>
            </p>
            <h4 class="display-4 text-white" style="font-size: 3.5rem;" id="doubleTicket"></h4>
            <h4 class="display-4 text-white" style="font-size: 2rem;" id="doubleCustomer"></h4>
        </div>
    </div>
</div>

<div class="fixed-top py-2 text-white d-none" id="successPage"
     style="height: calc(100vh - .5rem); background-color: #6dc04f">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <p style="font-size: 7.5rem;">
                <i class="fas fa-check"></i>
            </p>
            <h4 class="display-4 text-white" style="font-size: 3.5rem;" id="successTicket"></h4>
            <h4 class="display-4 text-white" style="font-size: 2rem;" id="successCustomer"></h4>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="//webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.js" integrity="sha384-dSYsISAzvwAxd8fKBwtMKG3U6MkuTP6US8/H0/ccyRtoiif/WMfO3qtbcJn0pgiA" crossorigin="anonymous"></script>
<script>
    $(function () {
        var App = {
            state: {
                inputStream: {
                    type: "LiveStream",
                    constraints: {
                        width: window.innerHeight, // Dimensions are reversed due to mobile portrait mode
                        height: window.innerWidth,
                        facingMode: "environment" // or user
                    }
                },
                locator: {
                    patchSize: "medium",
                    halfSample: true
                },
                numOfWorkers: 4,
                frequency: 10,
                decoder: {
                    readers: [{
                        format: "ean_reader",
                        config: {}
                    }]
                },
                locate: true
            },
            init: function () {
                Quagga.init(this.state, function (err) {
                    if (err) {
                        return;
                    }
                    Quagga.start();
                });
            }
        };

        App.init();

        Quagga.onProcessed(function (result) {
            var drawingCtx = Quagga.canvas.ctx.overlay,
                drawingCanvas = Quagga.canvas.dom.overlay;

            if (result) {
                if (result.boxes) {
                    drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                    result.boxes.filter(function (box) {
                        return box !== result.box;
                    }).forEach(function (box) {
                        Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, drawingCtx, {color: "green", lineWidth: 2});
                    });
                }

                if (result.box) {
                    Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, drawingCtx, {color: "#00F", lineWidth: 2});
                }

                if (result.codeResult && result.codeResult.code) {
                    Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, drawingCtx, {color: 'red', lineWidth: 3});
                }
            }
        });

        Quagga.onDetected(function (result) {
            Quagga.pause();

            $.ajax({
                method: "POST",
                url: "/events/api/v1/sales/scan/event/[[${event.getKey()}]]/barcode",
                type: "json",
                data: {
                    _csrf: "[[${_csrf.token}]]",
                    barcode: result.codeResult.code
                }
            }).always(function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    $("#successTicket").html(data.object.ticket.productTitle);
                    $("#successCustomer").html(data.object.ticket.ownerName);
                    $("#successPage").removeClass("d-none");
                } else if (xhr.status === 208) {
                    $("#doubleTicket").html(data.object.ticket.productTitle);
                    $("#doubleCustomer").html(data.object.ticket.ownerName);
                    $("#doublePage").removeClass("d-none");
                } else {
                    $("#errorMessage").html(data.message);
                    $("#errorPage").removeClass("d-none");
                }
            });
        });
    });

    $("#errorPage, #successPage, #doublePage").on('click touchstart', function (e) {
        e.preventDefault();

        $("#errorPage").addClass("d-none");
        $("#doublePage").addClass("d-none");
        $("#successPage").addClass("d-none");

        Quagga.start();
    });
</script>
</body>
