<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Sales > Scan</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">

    <style>
        html,
        body {
            overflow: hidden;
            height: calc(100vh);
            width: calc(100vw);
        }

        .container-fluid h3 {
            border-bottom: 0;
        }
    </style>
</head>

<body id="scanPage">
<nav th:replace="fragments/header :: header"></nav>


<div class="container-fluid">
    <div class="row pt-5">
        <main class="col-12" role="main">
            <div th:replace="fragments/messages :: messages"></div>

            <div class="row text-center">
                <h3 class="w-100 mb-5" th:text="${event.getTitle()}"></h3>

                <div class="col-12">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="code" name="code"
                               placeholder="Unique code">
                    </div>

                    <button id="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="fixed-bottom p-3">
    <a th:href="@{'/sales/scan/event/' + ${event.getKey()} + '/barcode'}" class="btn btn-lg btn-block btn-dark">
        go to barcode scanner
    </a>
</div>

<div class="fixed-top py-2 text-white d-none" id="errorPage"
     style="height: calc(100vh); z-index: 1100; background-color: #ff3b30;">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <p style="font-size: 7.5rem;">
                <i class="fas fa-exclamation"></i>
            </p>
            <h4 class="display-4 text-white" style="font-size: 3.5rem;" id="errorMessage"></h4>
        </div>
    </div>
</div>

<div class="fixed-top py-2 text-white d-none" id="doublePage"
     style="height: calc(100vh - .5rem); background-color: #ffb142">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <p style="font-size: 7.5rem;">
                <i class="fas fa-check-double"></i>
            </p>
            <h4 class="display-4 text-white" style="font-size: 3.5rem;" id="doubleTicket"></h4>
            <h4 class="display-4 text-white" style="font-size: 2rem;" id="doubleCustomer"></h4>
        </div>
    </div>
</div>

<div class="fixed-top py-2 text-white d-none" id="successPage"
     style="height: calc(100vh - .5rem); background-color: #6dc04f">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <p style="font-size: 7.5rem;">
                <i class="fas fa-check"></i>
            </p>
            <h4 class="display-4 text-white" style="font-size: 3.5rem;" id="successTicket"></h4>
            <h4 class="display-4 text-white" style="font-size: 2rem;" id="successCustomer"></h4>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").on('click touchstart', function (e) {
            e.preventDefault();

            $.ajax({
                method: "POST",
                url: "/events/api/v1/sales/scan/event/[[${event.getKey()}]]/code",
                type: "json",
                data: {
                    _csrf: "[[${_csrf.token}]]",
                    code: $("#code").val()
                }
            }).always(function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    $("#successTicket").html(data.object.ticket.product.title);
                    $("#successCustomer").html(data.object.ticket.owner.name);
                    $("#successPage").removeClass("d-none");
                } else if (xhr.status === 208) {
                    $("#doubleTicket").html(data.object.ticket.product.title);
                    $("#doubleCustomer").html(data.object.ticket.owner.name);
                    $("#doublePage").removeClass("d-none");
                } else {
                    $("#errorMessage").html(data.message);
                    $("#errorPage").removeClass("d-none");
                }
            });
        });

        $("#errorPage, #successPage, #doublePage").on('click touchstart', function (e) {
            e.preventDefault();

            $("#errorPage").addClass("d-none");
            $("#doublePage").addClass("d-none");
            $("#successPage").addClass("d-none");
        });
    });
</script>

</body>