<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > Products</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Products
        <a class="badge badge-danger" th:href="@{'/administrator/products/create'}">
            <i class="fa fa-plus" aria-hidden="true"></i> New
        </a>
    </h1>

    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}">success message</p>
    </div>

    <table class="table table-striped" id="productsTable">
        <thead class="thead-inverse bg-primary">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Status</th>
            <th>Organized by</th>
            <th>Progress target</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="product" type="ch.wisv.products.domain.model.product.Product"*/-->
        <tr th:each="product : ${products}" th:attr="data-key=${product.getPublicReference()}">
            <td>posted on</td>
            <td th:text="${product.getTitle()}">posted on</td>
            <td>posted on</td>
            <td>posted on</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" th:style="'width: 10%;'"></div>
                </div>
            </td>
            <td class="text-right">
                <div class="btn-group" role="group">
                    <a class="btn btn-sm btn-info"
                       th:href="@{'/administrator/products/edit/' + ${product.getPublicReference()}}">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger"
                       th:href="@{'/administrator/products/delete/' + ${product.getPublicReference()}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script layout:fragment="script" th:inline="javascript">
    $(document).ready(function () {
        var inboxTables = $("#productsTable");
        inboxTables.DataTable({
            pageLength: 100,
            ordering: false,
            columns: [
                {"width": "15%"},
                {"width": "40%"},
                null,
                null,
                {"width": "15%"},
                {"width": "80px"}
            ]
        });
        inboxTables.find('tbody').on('click', 'tr td:not(:last-child)', function () {
            /*[+ var link = [[@{/administrator/products/view/}]] + $(this).parent().data('key'); +]*/
            document.location = link;
        });
    });
</script>
</body>
</html>