<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > Create/edit product</title>
</head>
<body>
<!--/*@thymesVar id="product" type="ch.wisv.products.domain.model.product.Product"*/-->
<!--/*@thymesVar id="errors" type="java.util.Map"*/-->
<div layout:fragment="content">
    <h1 class="mb-4 border-bottom-0 font-weight-light">Create/update product</h1>

    <div th:replace="fragments/messages :: messages"></div>

    <form th:action="${#httpServletRequest.requestURI}" th:object="${product}" method="POST"
          enctype="multipart/form-data">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <h6 class="card-header">Information</h6>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">Title <span class="required">*</span>
                                <input type="text" class="form-control" th:field="*{title}"
                                       th:classappend="${errors.containsKey('title')} ? 'is-invalid'"/>
                                <span class="invalid-feedback" th:text="${errors.get('title')}"></span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Description <span class="required">*</span>
                                <textarea type="text" class="form-control" rows="3" th:field="*{description}"
                                          th:classappend="${errors.containsKey('description')} ? 'is-invalid'"></textarea>
                                <span class="invalid-feedback" th:text="${errors.get('description')}"></span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Price <span class="required">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-fw fa-euro-sign"></i>
                                </div>
                                <input type="number" step="0.01" class="form-control" th:field="*{price}"
                                       th:classappend="${errors.containsKey('price')} ? 'is-invalid'"/>
                            </div>
                            <span class="invalid-feedback font-weight-bold d-block"
                                  th:text="${errors.get('price')}"></span>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Ticket limit <span class="required">*</span>
                                        <input type="text" class="form-control" th:field="*{ticketLimit}"
                                               th:classappend="${errors.containsKey('ticketLimit')} ? 'is-invalid'"/>
                                        <span class="invalid-feedback" th:text="${errors.get('ticketLimit')}"></span>
                                    </label>
                                    <small class="form-text text-muted">Fill in zero for no limit.</small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Ticket limit per customer <span
                                            class="required">*</span>
                                        <input type="text" class="form-control" th:field="*{maxNumberOfTicketPerUser}"
                                               th:classappend="${errors.containsKey('maxNumberOfTicketPerUser')} ? 'is-invalid'"/>
                                        <span class="invalid-feedback"
                                              th:text="${errors.get('maxNumberOfTicketPerUser')}"></span>
                                    </label>
                                    <small class="form-text text-muted">Fill in zero for no limit.</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label class="form-check-label custom-control custom-checkbox">
                                    CH members only
                                    <input type="checkbox" class="custom-control-input"
                                           th:field="*{chOnly}"
                                           th:checked="${product.isChOnly()}">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-check-label custom-control custom-checkbox">
                                        Mandatory additional option
                                        <input type="checkbox" class="custom-control-input"
                                               th:field="*{mandatoryProductOption}"
                                               th:checked="${product.isMandatoryProductOption()}">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <h6 class="card-header">Additional options</h6>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <label class="control-label">Title <span class="required">*</span></label>
                            </div>
                            <div class="col">
                                <label class="control-label">Additional cost <span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="option-container">
                            <div class="row" th:if="${#lists.size(product.getProductOptions()) > 0}"
                                 th:each="index, stat : ${product.getProductOptions()}">
                                <input type="hidden" th:field="*{productOptions[__${stat.index}__].publicReference}">
                                <div class="col-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" title="Title"
                                               placeholder="Additional option"
                                               th:field="*{productOptions[__${stat.index}__].title}"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fas fa-fw fa-euro-sign"></i>
                                            </div>
                                            <input type="number" step="0.01" class="form-control"
                                                   title="Additional price"
                                                   placeholder="Extra cost additional option"
                                                   th:field="*{productOptions[__${stat.index}__].additionalPrice}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" id="addProductOption" class="btn btn-info btn-block">
                            <i></i> Add option
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <input type="submit" class="btn btn-danger" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script layout:fragment="script" th:inline="javascript">
    var ProductOption;

    (function ($) {

        ProductOption = {
            count: 0,

            blueprint: "<div class='row'><div class='col-8'><div class='form-group'><input type='text' class='form-control' title='Title' id='%s' name='%s' placeholder='Additional option'/></div></div><div class='col'><div class='form-group'><div class='input-group'><div class='input-group-addon'> <i class='fas fa-fw fa-euro-sign'></i></div><input type='number' step='0.01' class='form-control' id='%s' name='%s' title='Additional price' placeholder='Extra cost additional option' /></div></div></div></div>",

            init: function () {
                ProductOption.binds();
                /*[+ var link = [[${product.getProductOptions().size()}]]; +]*/
                ProductOption.count = link;
            },

            binds: function () {
                $("#addProductOption").on("click", ProductOption.__addProductOption)
            },

            __addProductOption: function (e) {
                e.preventDefault();

                $(".option-container").append(vsprintf(ProductOption.blueprint, [
                    'productOptions' + ProductOption.count + '.title',
                    'productOptions[' + ProductOption.count + '].title',
                    'productOptions' + ProductOption.count + '.additionalPrice',
                    'productOptions[' + ProductOption.count + '].additionalPrice'
                ]));
                ProductOption.count++;
            }
        };
    })
    (jQuery);

    $(document).ready(function () {
        ProductOption.init();
    });
</script>
</body>
</html>