<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Dashboard > Products</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<!--/*@thymesVar id="product" type="ch.wisv.events.core.model.product.Product"*/-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/sidebar :: sidebar"></nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 p-5" role="main">
            <h1>[[${product.getTitle()}]]
                <a class="badge badge-info" th:href="@{'/administrator/products/edit/' + ${product.getKey()} +'/'}">
                    <i class="fa fa-edit" aria-hidden="true"></i> Edit
                </a>
            </h1>

            <div th:replace="fragments/messages :: messages"></div>

            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <h6 class="card-header">Information</h6>
                        <div class="card-body">
                            <div class="row form">
                                <div class="form-group col-12">
                                    <label>Description
                                        <textarea type="text" class="form-control" rows="5" style="height: 50px"
                                                  th:text="${product.getDescription()}"
                                                  readonly></textarea>
                                    </label>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label>Starting time
                                                <input type="text" class="form-control"
                                                       th:value="${product.getSellStart()}"
                                                       readonly>
                                            </label>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Ending time
                                                <input type="text" class="form-control"
                                                       th:value="${product.getSellEnd()}"
                                                       readonly>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label>Price</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fas fa-fw fa-euro-sign"></i>
                                        </div>
                                        <input type="number" step="0.01" class="form-control"
                                               th:value="${product.getCost()}" readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label>Available
                                                <input type="text" class="form-control"
                                                       th:value="${product.getMaxSold()}"
                                                       readonly>
                                            </label>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Max sold per customer
                                                <input type="text" class="form-control"
                                                       th:value="${product.getMaxSoldPerCustomer()}"
                                                       readonly>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="form-check col-6">
                                            <label class="form-check-label custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       th:checked="${product.isChOnly()}">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description text-dark font-weight-normal">CH members only</span>
                                            </label>
                                        </div>
                                        <div class="form-check col-6">
                                            <label class="form-check-label custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       th:checked="${product.isIncludesRegistration()}">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description text-dark font-weight-normal">Including
                                                registration</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <h6 class="card-header">Products</h6>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-inverse thead-small bg-primary">
                                <tr>
                                    <th>Product</th>
                                    <th>Sold</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${product.getProducts().isEmpty()}" id="noProducts">
                                    <td colspan="2">No products added to this product.</td>
                                </tr>
                                <tr th:each="product : ${product.getProducts()}">
                                    <td>
                                        <a th:href="@{'/administrator/products/view/' + ${product.getKey()} + '/'}">
                                            [[${product.getTitle()}]]
                                        </a>
                                    </td>
                                    <td style="width: 120px;" th:text="${product.getSold()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>