<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > View product</title>
</head>
<body>
<!--/*@thymesVar id="product" type="ch.wisv.events.domain.model.product.Product"*/-->
<div layout:fragment="content">

    <div class="row mb-4">
        <div class="col">
            <a th:href="${#httpServletRequest.getHeader('Referer')}" class="btn btn-sm btn-primary">
                <i class="fas fa-arrow-left"></i> Go back
            </a>
        </div>
    </div>

    <h1 class="mb-4 border-bottom-0 font-weight-light" th:text="${product.getTitle()}"></h1>

    <div th:replace="fragments/messages :: messages"></div>

    <div class="row">
        <div class="col">
            <div class="card">
                <h6 class="card-header">Information</h6>
                <div class="card-body">
                    <div class="form-group">
                        <label>Title
                            <input type="text" class="form-control" th:value="${product.getTitle()}"
                                   readonly>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description
                            <textarea type="text" class="form-control" rows="3" readonly
                                      th:text="${product.getDescription()}"></textarea>
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Price</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-fw fa-euro-sign"></i>
                            </div>
                            <input type="number" step="0.01" class="form-control" th:value="${product.getPrice()}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label">Ticket limit
                                    <input type="text" class="form-control" th:value="${product.getTicketLimit()}"
                                           readonly/>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label">Ticket limit per customer
                                    <input type="text" class="form-control" readonly
                                           th:value="${product.getMaxNumberOfTicketPerUser()}"/>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="form-check-label custom-control custom-checkbox">
                                CH members only
                                <input type="checkbox" class="custom-control-input" readonly
                                       th:checked="${product.isChOnly()}">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-check-label custom-control custom-checkbox">
                                    Mandatory additional option
                                    <input type="checkbox" class="custom-control-input" readonly
                                           th:checked="${product.isMandatoryProductOption()}">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-check-label custom-control custom-checkbox">
                                    Reservable
                                    <input type="checkbox" class="custom-control-input" readonly
                                           th:checked="${product.isReservable()}">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a th:href="@{'/administrator/products/edit/' + ${product.getPublicReference()}}"
                               class="btn btn-block btn-info">
                                <i class="fa fa-edit" aria-hidden="true"></i> Edit
                            </a>
                        </div>
                        <div class="col">
                            <a th:href="@{'/administrator/products/delete/' + ${product.getPublicReference()}}"
                               class="btn btn-block btn-danger">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">Additional options</h6>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            th:each="option : ${product.getProductOptions()}">
                            <span th:text="${option.getTitle()}"></span>
                            <span class="btn btn-sm btn-primary"
                                  th:text="'+ € ' + ${#numbers.formatDecimal(option.getAdditionalPrice(), 1, 'POINT', 2, 'COMMA')}">
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>