<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/icons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/icons/safari-pinned-tab.svg}" color="#1e274a">
    <link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" th:content="@{/icons/browserconfig.xml}">
    <meta name="theme-color" content="#ffffff">

    <title>CH Events</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/uet5duo.css" integrity="sha384-Bg9blBrAm2v7bP2AhXtjHdM8p8EeT4YJLHwfJ/1O257DAiLyqhVtYdCB3dzdZsmb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-header.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-tickets.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" integrity="sha384-bsGkvB1NLsaPUZL6GG0N5H9GOW9DK6KiHrrDvO57EJXoD9H3gzlohtuPENw9/24L" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="~{webshop/fragments/header :: header ('Thanks for ordering!', 'events_order-complete.jpg')}"></nav>

<div class="container">
    <div class="row">
        <main class="col-12 col-lg-8 mx-auto py-5" role="main">
            <div th:replace="~{fragments/messages :: messages}"></div>

            <div class="row">
                <div class="col my-4">
                    <h4 class="display-4">Thanks for ordering!</h4>
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-12">
                    <p class="text-justify">
                        Thanks for ordering your tickets! Within a few minutes you will receive an
                        e-mail with the information about your order. If you have any questions do not hesitate to ask
                        the board by sending an email to <a href="mailto:board@ch.tudelft.nl">board@ch.tudelft.nl</a>
                        or swing by at the association area.
                    </p>
                </div>
                <table th:if="${!tickets.isEmpty()}" class="table table-striped col-12">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket: ${tickets}">
                            <td
                                th:if="${#lists.size(ticket.product.event.products) > 1}"
                                th:text="${ticket.product.event.title} + ' - ' + ${ticket.product.title}"
                                style="vertical-align: middle;"
                            ></td>
                            <td
                                th:if="${#lists.size(ticket.product.event.products) <= 1}"
                                th:text="${ticket.product.event.title}"
                                style="vertical-align: middle;"
                            ></td>
                            <td style="text-align: center;">
                                <a th:href="@{'/tickets/'+ ${ticket.getKey()}+'/wallet.pkpass'}" target="_blank">
                                    <img th:src="@{/images/apple-wallet.svg}" class="apple-wallet" alt="Add to Apple Wallet" style="height: 35px; max-width: 20vw;">
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a th:href="@{'/tickets/'+ ${ticket.getKey()}+'/googlewallet'}" target="_blank">
                                    <img th:src="@{/images/google-wallet.svg}" class="google-wallet" alt="Add to Google Wallet" style="height: 35px; max-width: 25vw;">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${redirect_products != null and !redirect_products.isEmpty()}" class="my-4">
                <div class="row">
                    <div class="col my-4">
                        <h5 class="display-4">Before you go!</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-justify">You ordered one or more products with attached forms or links!
                            Please visit all the links available down below.</p>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product name</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product: ${redirect_products}">
                            <td th:text="${product.title}"></td>
                            <td><a th:href="${product.redirectUrl}" class="btn btn-primary btn-block" target="_blank" rel="noopener noreferrer">Fill in the form!</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col my-4">
                    <h4 class="display-4">Promotion research</h4>
                    <p>CH is currently doing a promotion research. Please fill in the following form consisting of a few questions!</p>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf-TJiwzIUMbb0YKwg2RA7hWcHBWE444Z6P7UKzQqgfILZBiw/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-auto mr-auto">
                    <a th:href="@{/}" class="btn btn-secondary">
                        <i class="fa fa-fw fa-arrow-left"></i>
                        Back to the homepage
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script th:src="@{/js/js.storage.min.js}"></script>
<script>
    jQuery(document).ready(function ($) {
        Storages.localStorage.set('shoppingBasket', []);
    });
</script>
</body>
