<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div th:fragment="edit-products">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Products</h3>
        </div>
        <div class="panel-body">
            <!--/*@thymesVar id="eventProduct" type="ch.wisv.events.data.request.event.EventProductRequest"*/-->
            <form th:action="@{/dashboard/events/add/product}" th:object="${eventProduct}"
                  class="form-horizontal"
                  id="addProduct" method="POST">
                <input type="hidden" th:field="*{eventID}" th:value="*{eventID}">
                <input type="hidden" th:field="*{eventKey}" th:value="*{eventKey}">
                <input id="addProductKey" type="hidden" th:field="*{productID}">
            </form>

            <form th:action="@{/dashboard/events/delete/product}" th:object="${eventProduct}"
                  class="form-horizontal"
                  id="deleteProduct" method="POST">
                <input type="hidden" th:field="*{eventID}" th:value="*{eventID}">
                <input type="hidden" th:field="*{eventKey}" th:value="*{eventKey}">
                <input id="deleteProductKey" type="hidden" th:field="*{productID}">
            </form>

            <div class="input-group" style="width: 100%">
                <input id="q" autocomplete="off" type="text" class="form-control no-trigger"
                       placeholder="Add product">
                <div class="input-group-btn" style="width: 39px;">
                            <span class="btn btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                            </span>
                </div>
            </div>
            <p class="help-block">Start typing to look for a product.</p>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Start selling</th>
                    <th>End selling</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.title}">Data</td>
                    <td th:text="${product.sellStart}">Data</td>
                    <td th:text="${product.sellEnd}">Data</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a th:href="@{/dashboard/products/edit/} + ${event.key}"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-danger remove-product" th:data-id="${product.id}">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>