<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
<div th:fragment="panel-products">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Products</h3>
        </div>
        <div class="panel-body">
            <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addProduct">
                Add product
            </a>

            <div id="products">
                <input type="hidden" th:field="*{products[__${stat.index}__]}" th:value="${product.id}"
                       th:each="product, stat : ${event.products}">
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="productsTable">
                <tr th:if="${event.products.isEmpty()}" id="noProducts">
                    <td colspan="2">No products added to this event.</td>
                </tr>
                <tr th:each="product : ${event.products}">
                    <td th:text="${product.title}"></td>
                    <td style="width: 40px;">
                        <a class="btn btn-xs btn-danger remove-product" th:data-product-id="${product.id}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="addProductLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addProductLabel">Add product</h4>
                </div>
                <div class="modal-body" id="addProductForm">
                    <h4>Search product</h4>
                    <div class="input-group" style="width: 100%">
                        <input id="q" autocomplete="off" type="text" class="form-control no-trigger"
                               placeholder="Search for a product">
                        <span class="input-group-addon" style="width: 39px;">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                    </div>
                    <p class="help-block">Start typing to look for a product.</p>

                    <h2 class="text-center">or</h2>

                    <h4>Create product</h4>
                    <div class="form-group">
                        <label>Title*</label>
                        <input type="text" id="productTitle" class="form-control" placeholder="Product title">
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Description</label>
                        <textarea name="product" id="productDescription" placeholder="Description" rows="2"
                                  class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Price*</label>
                                <div class="input-group">
                                    <div class="input-group-addon">&euro;</div>
                                    <input type="number" id="productCost" step="0.01" class="form-control"
                                           placeholder="Price of the product">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Available</label>
                                <input type="number" id="maxSold" step="0.01" class="form-control"
                                       placeholder="Amount of tickets that are available">
                                <p class="help-block">Leave blank for an infinite amount of tickets!</p>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-primary" id="createNewProductButton">Create and add product</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>