<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > Logs</title>
</head>
<body>
<div layout:fragment="content">

    <div style="height: 800px; width: 100%; overflow: hidden;">
        <textarea class="form-control" title="logs"
                  style="width: 4500px; height: 100%; font-family: 'Roboto Mono', monospace; font-size: 10px;"
                  th:text="${logs}" readonly></textarea>
    </div>
</div>
</body>
</html>