<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/icons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/icons/safari-pinned-tab.svg}" color="#1e274a">
    <link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" th:content="@{/icons/browserconfig.xml}">
    <meta name="theme-color" content="#ffffff">

    <title>CH Events</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/uet5duo.css" integrity="sha384-Bg9blBrAm2v7bP2AhXtjHdM8p8EeT4YJLHwfJ/1O257DAiLyqhVtYdCB3dzdZsmb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-header.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-tickets.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<!--/*@thymesVar id="event" type="ch.wisv.events.core.model.event.Event"*/-->
<header class="page-header">

    <!-- Top Bar -->
    <div class="wisv-header header-left">
        <nav class="navbar navbar-expand-xl navbar-light wisv-header-bg">
            <a class="navbar-brand" href="https://ch.tudelft.nl/">
                <img th:src=@{'/images/ch-logo.png'}
                     alt="W.I.S.V. 'Christiaan Huygens'" >
            </a>

            <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-2" th:if="${customer != null}">
                        <a th:href="@{/overview/}" class="btn btn-block btn-primary">
                            Ticket overview
                        </a>
                    </li>
                    <li class="nav-item m-2" th:if="${customer != null}">
                        <a th:href="@{/logout}" class="btn btn-block btn-secondary">
                            logout
                            <span th:text="${customer.getName()}" th:if="${customer != null}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <!-- Page title -->
    <div class="page-title"
         th:style="'background-image:url(\'' + ${event.getImageUrl()} + '\'); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);'">
        <div class="row">
            <div class="col-12" style="padding: calc(6rem - 34px) 0;">
                <h1 class="mb-3" th:text="${event.getTitle()}"></h1>
                <div class="row justify-content-center text-white mx-auto text-center"
                     style="max-width: calc(80vw);">
                    <div class="mx-3 mb-1">
                        <i class="far fa-fw fa-calendar-alt"></i>
                        <span th:text="${event.getStart().toLocalDate()} + ' @ ' + ${event.getStart().toLocalTime()}"></span>
                    </div>
                    <div class="mx-3 mb-1" th:if="${event.getLocation() != ''}">
                        <i class="fas fa-map-marker fa-fw"></i>
                        <span th:text="${event.getLocation()}"></span>
                    </div>
                    <div class="mx-3 mb-1">
                        <i class="fas fa-info fa-fw"></i>
                        <span th:text="${event.getShortDescription()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <main class="col py-3" role="main">
            <div class="row">
                <div class="ml-auto col-lg-4 col-md-5 col-12 mb-4">
                    <a href="#" class="btn btn-block btn-secondary" data-toggle="modal" data-target="#shoppingBasket"
                       id="shoppingBasketButton">
                        <i class="fa fa-fw fa-shopping-basket"></i> Shopping basket (<span
                            id="shoppingBasketCount"></span>)
                    </a>
                </div>
            </div>

            <div th:replace="fragments/messages :: messages"></div>

            <div class="card-deck" th:if="${!event.hasExternalProductUrl()}">
                <div class="card mb-3" th:each="product : ${event.getProducts()}">
                    <div class="card-header bg-light text-center">
                        <h4 class="card-title my-1" th:text="${product.getTitle()}"></h4>
                    </div>
                    <div class="card-body bg-transparent text-center my-4" style="background-color: #f1f3f7;">
                        <h1 th:text="'€' + ${#numbers.formatDecimal(product.getCost(), 1, 'POINT', 2, 'COMMA')}"
                            th:if="${product.getCost() > 0}"></h1>
                        <h1 th:if="${product.getCost() == 0}">FREE</h1>
                        <small>
                            Max [[${product.getMaxSoldPerCustomer()}]] ticket(s) per person.
                        </small>
                    </div>

                    <div class="card-body">
                        <p class="card-text" th:text="${product.getDescription()}"></p>

                        <small th:if="${product.isChOnly()}">
                            CH members only.
                        </small>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-block btn-danger disabled btn-secondary"
                                th:if="${product.isSoldOut() || event.isSoldOut()}"
                                disabled>
                            Sold out
                        </button>
                        <a th:if="${!product.isSoldOut() && !event.isSoldOut()}"
                           href="#" class="btn btn-primary btn-block btn-shopping-basket"
                           th:attr="data-product-key=${product.getKey()}, data-product-title=${product.getTitle()}, data-product-cost=${product.getCost()}, data-customer-limit=${product.getMaxSoldPerCustomer()}">
                            Add to basket
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mb-3" th:if="${event.hasExternalProductUrl()}">
                    <div class="card-body bg-transparent my-4" style="background-color: #f1f3f7;">
                        <span th:text="${event.getDescription()}"
                              th:data-markdown="enable"></span>
                    </div>
                    <div class="card-footer">
                        <a th:href="${event.getExternalProductUrl()}"
                           target="_blank"
                           class="btn btn-primary btn-block">
                            Register here
                        </a>
                    </div>
                </div>
        </main>
    </div>
</div>

<div class="modal fade" id="shoppingBasket" tabindex="-1" role="dialog" aria-labelledby="shoppingBasketTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: calc(100vw - 20px); max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shoppingBasketTitle">
                    <i class="fa fa-fw fa-shopping-basket"></i>
                    Shopping basket
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table ticket-overview">
                    <thead class="thead-dark bg-primary">
                    <tr>
                        <th>Article</th>
                        <th style="width: 15%;">Amount</th>
                        <th style="width: 20%;">Price</th>
                    </tr>
                    </thead>
                    <tbody id="shoppingBasketTable">
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="2">Total</th>
                        <th id="shoppingBasketTotal"></th>
                    </tr>
                    </tfoot>
                </table>
                <button type="button" class="btn btn-block btn-info" id="emptyShoppingBasket">
                    <i class="far fa-fw fa-trash-alt"></i>
                    Empty
                </button>
            </div>
            <div class="modal-footer">
                <form id="orderForm" method="POST" th:action="@{'/checkout'}" th:object="${orderProduct}">
                    <div id="products"></div>
                    <input type="checkbox" name="agreedGTC"> I agree to the <a th:href="${linkGTC}">General Terms and conditions</a></input></br>
                    <button type="submit" class="btn btn-secondary" id="checkoutShoppingBasket">
                        Checkout <i class="fa fa-fw fa-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/sprintf.js/1.0.0/sprintf.min.js}"></script>
<script th:src="@{/js/js.storage.min.js}"></script>
<script th:src="@{/js/webshop/webshop.min.js}"></script>
<script>
    jQuery(document).ready(function ($) {
        ShoppingBasket.init();
    });
</script>
</body>

