<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="webshop/webshop-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Checkout</title>
</head>
<body>
<h1 layout:fragment="title">CH Events | Checkout</h1>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item active">1. Order</li>
                <li class="nav-item">2. Login</li>
                <li class="nav-item">3. Payment</li>
                <li class="nav-item">4. Confirmation</li>
            </ul>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <div class="card mb-4" th:each="orderItem : ${order.getItems()}">
                <div class="card-body">
                    <div class="row mx-0 justify-content-between">
                        <strong th:text="${orderItem.getProduct().getEvent().getTitle()} + ' - ' + ${orderItem.getProduct().getTitle()}"></strong>
                        <strong th:text="'€ ' + ${#numbers.formatDecimal(orderItem.getProduct().getPrice(), 1, 'POINT', 2, 'COMMA')}"></strong>
                    </div>

                    <div class="row" th:if="${orderItem.getProductOption() != null}">
                        <p class="col-12 text-muted mt-3 mb-0">Additional option</p>
                        <ul class="text-muted">
                            <li>
                                <span th:text="${orderItem.getProductOption().getTitle()}"></span>
                                +(<span
                                    th:text="'€ ' + ${#numbers.formatDecimal(orderItem.getProductOption().getAdditionalPrice(), 1, 'POINT', 2, 'COMMA')}"></span>)
                            </li>
                        </ul>
                    </div>

                    <div class="row" th:if="${order.hasChOnlyProduct()}">
                        <div class="col-12">
                            <div class="alert alert-light" role="alert">
                                A simple light alert—check it out!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <div class="form form-horizontal">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Amount</label>
                                    <div class="col">
                                        <input title="Amount of products" class="form-control" disabled
                                               th:value="${orderItem.getAmount()}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-right font-weight-bold align-self-center">
                            <span class="pr-3">Total:</span>
                            <span th:text="'€ ' + ${#numbers.formatDecimal(orderItem.getPrice() * orderItem.getAmount(), 1, 'POINT', 2, 'COMMA')}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row py-2">
                        <div class="col">
                            Total article
                            <small th:text="'(' + ${order.getTotalItems()} + ')'"></small>
                        </div>
                        <div class="col text-right font-weight-bold"
                             th:text="'€ ' + ${#numbers.formatDecimal(order.getTotalPrice(), 1, 'POINT', 2, 'COMMA')}"></div>
                    </div>

                    <div class="row border-top py-2">
                        <div class="col font-weight-bold">
                            Total
                        </div>
                        <div class="col text-right font-weight-bold"
                             th:text="'€ ' + ${#numbers.formatDecimal(order.getTotalPrice(), 1, 'POINT', 2, 'COMMA')}"></div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 col-md-4 offset-md-8">
                            <a th:href="@{'/webshop/login/' + ${order.getPublicReference()}}"
                               class="btn btn-block btn-secondary">
                                Checkout <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
