<!DOCTYPE html>
<html lang="en"
      layout:decorate="webshop/webshop-layout" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Checkout</title>
</head>
<body>
<h1 layout:fragment="title">CH Events | Checkout</h1>

<div layout:fragment="content">
    <div class="row justify-content-around">
        <div class="col-md-12 col-lg-10">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">1. Order</li>
                <li class="nav-item active">2. Login</li>
                <li class="nav-item">3. Payment</li>
                <li class="nav-item">4. Confirmation</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-0"
             th:classappend="${order.hasChOnlyProduct() ? 'col-md-6 offset-md-3' : ''}">
            <h4 class="display-5 mb-3 mb-md-5">CH Member</h4>

            <p class="mb-2">
                Proceed checking out by logging in through CH Connect. You will need to be a member of W.I.S.V.
                'Christiaan Huygens' with a TU Delft NetID or a CH account.
            </p>

            <a th:href="@{'/webshop/login/' + ${order.getPublicReference()} + '/connect'}"
               class="btn btn-block btn-info my-4 px-0">
                Checkout through CH Connect
            </a>

            <p class="text-muted">
                CH member and unable to use CH Connect? Please send an email to <a href="mailto:board@ch.tudelft.nl">board@ch.tudelft.nl</a>
                including your full name, student number and NetID so that we can update your membership record.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4" th:if="${!order.hasChOnlyProduct()}"
             style="border-left: 3px solid #eeeeee">
            <h4 class="display-5 mb-3 mb-md-5">Continue as Guest</h4>

            <p class="mb-2">
                Not a CH member or unable to use CH Connect? No problem, proceed checking out without logging in.
            </p>

            <p class="mb-2 text-danger" th:if="${isChOnly}">
                There is a CH only product in the order, so it is only possible to
                checkout with a verified email address.
            </p>

            <a th:href="@{'/webshop/login/' + ${order.getPublicReference()} + '/guest'}"
               class="btn btn-block btn-info my-4">
                Checkout as guest
            </a>
        </div>
    </div>
</div>
</body>
</html>
