<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="webshop/webshop-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Webshop > [[${event.getTitle()}]]</title>
</head>
<body>
<!-- Page title -->
<h1 layout:fragment="title" th:text="${event.getTitle()}"></h1>

<!--/*@thymesVar id="event" type="ch.wisv.events.domain.model.event.Event"*/-->
<!--/*@thymesVar id="cat" type="ch.wisv.events.domain.model.event.EventCategory"*/-->
<div layout:fragment="content">
    <div class="row my-4">
        <div class="col-lg-4 col-md-5 col-12 my-2">
            <a th:href="@{'/webshop/'}" class="btn btn-block btn-info">
                <i class="fa fa-fw fa-arrow-left"></i> Go back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-4">
            <div class="card mb-4">
                <h6 class="card-header bg-primary text-white">Details</h6>
                <div class="card-body">
                    <ul class="list-unstyled m-0">
                        <li class="py-2">
                            <i class="fas fa-info text-info fa-fw mr-3"></i>
                            <span th:text="${event.getShortDescription()}"></span>
                        </li>

                        <li class="py-2">
                            <i class="far fa-fw text-info mr-3 fa-calendar-alt"></i>
                            <span th:text="${event.getStarting().toLocalDate()} + ' @ ' + ${event.getStarting().toLocalTime()}"></span>
                        </li>

                        <li class="py-2">
                            <i class="fas fa-map-marker fa-fw text-info mr-3"></i>
                            <span th:text="${event.getLocation()}"></span>
                        </li>

                        <li class="py-2">
                            <i class="fas fa-tags fa-fw text-info mr-3"></i>
                            <span class="badge badge-secondary"
                                  th:each="cat : ${event.getCategories()}"
                                  th:text="${cat.getDisplayName()}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8">
            <h1>Tickets</h1>

            <table class="table table-striped">
                <thead class="thead-inverse bg-primary">
                <tr>
                    <th class="w-25">Description</th>
                    <th>Price</th>
                    <th>Additional option</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${event.getProducts()}"
                    th:attr="data-public-reference=${product.getPublicReference()},
                    data-product-title=${product.getTitle()},
                    data-product-price=${product.getPrice()},
                    data-product-user-limit=${product.getMaxNumberOfTicketPerUser()}">
                    <td class="align-middle" th:text="${product.getTitle()}"></td>
                    <td class="align-middle"
                        th:text="'€ ' + ${#numbers.formatDecimal(product.getPrice(), 1, 'POINT', 2, 'COMMA')}"></td>
                    <td>
                        <div class="form">
                            <div class="form-group">
                                <select class="form-control product-option" title=""
                                        th:if="${!product.getProductOptions().isEmpty()}">
                                    <option value="">-- Select an option --</option>
                                    <option th:each="option : ${product.getProductOptions()}"
                                            th:value="${option.getPublicReference()}"
                                            th:attr="data-product-option-price=${option.getAdditionalPrice()}"
                                            th:text="${option.getTitle()} + ' (+ € ' + ${#numbers.formatDecimal(option.getAdditionalPrice(), 1, 'POINT', 2, 'COMMA')} + ')'"></option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form">
                            <div class="form-group">
                                <select class="form-control product-amount" title="">
                                    <option th:each="option : ${#numbers.sequence(1, product.getMaxNumberOfTicketPerUser())}"
                                            th:value="${option}" th:text="${option}"></option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn btn-block btn-info btn-shopping-basket">
                            <i class="fas fa-fw fa-plus"></i> <i class="fas fa-fw fa-shopping-basket"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>