<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="webshop/webshop-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Webshop > [[${event.getTitle()}]]</title>
</head>
<body>
<!-- Page title -->
<div class="page-title" layout:fragment="title"
     th:style="'background-image:url(\'' + ${event.getImage()} + '\'); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);'">
    <div class="row">
        <div class="col-12" style="padding: calc(6rem - 34px) 0;">
            <h1 class="mb-3" th:text="${event.getTitle()}"></h1>
            <div class="row justify-content-center text-white mx-auto text-center"
                 style="max-width: calc(80vw);">
                <div class="mx-3 mb-1">
                    <i class="far fa-fw fa-calendar-alt"></i>
                    <span th:text="${event.getStarting().toLocalDate()} + ' @ ' + ${event.getStarting().toLocalTime()}"></span>
                </div>
                <div class="mx-3 mb-1" th:if="${event.getLocation() != ''}">
                    <i class="fas fa-map-marker fa-fw"></i>
                    <span th:text="${event.getLocation()}"></span>
                </div>
                <div class="mx-3 mb-1">
                    <i class="fas fa-info fa-fw"></i>
                    <span th:text="${event.getShortDescription()}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/*@thymesVar id="event" type="ch.wisv.events.domain.model.event.Event"*/-->
<!--/*@thymesVar id="cat" type="ch.wisv.events.domain.model.event.EventCategory"*/-->
<div layout:fragment="content">
    <div class="row my-4">
        <div class="col-lg-4 col-md-5 col-12 my-2">
            <a th:href="${#httpServletRequest.getHeader('Referer')}" class="btn btn-block btn-info">
                <i class="fa fa-fw fa-arrow-left"></i> Go back
            </a>
        </div>
        <div class="ml-auto col-lg-4 col-md-5 col-12 my-2">
            <a href="#" class="btn btn-block btn-secondary" data-toggle="modal" data-target="#shoppingBasket"
               id="shoppingBasketButton">
                <i class="fa fa-fw fa-shopping-basket"></i> Shopping basket (<span id="shoppingBasketCount"></span>)
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Tickets</h1>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-inverse bg-primary">
                <tr>
                    <th class="w-50">Description</th>
                    <th style="width: 10%">Price</th>
                    <th style="width: 20%">Additional option</th>
                    <th style="width: 10%">Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${event.getProducts()}"
                    th:attr="data-public-reference=${product.getPublicReference()},
                    data-product-title=${product.getTitle()},
                    data-product-price=${product.getPrice()},
                    data-product-user-limit=${product.getMaxNumberOfTicketPerUser()}">
                    <td class="align-middle" th:text="${product.getTitle()}"></td>
                    <td class="align-middle"
                        th:text="'€ ' + ${#numbers.formatDecimal(product.getPrice(), 1, 'POINT', 2, 'COMMA')}"></td>
                    <td>
                        <div class="form">
                            <div class="form-group">
                                <select class="form-control product-option" title=""
                                        th:if="${!product.getProductOptions().isEmpty()}">
                                    <option value="">-- Select an option --</option>
                                    <option th:each="option : ${product.getProductOptions()}"
                                            th:value="${option.getPublicReference()}"
                                            th:attr="data-product-option-price=${option.getAdditionalPrice()}"
                                            th:text="${option.getTitle()} + ' (+ € ' + ${#numbers.formatDecimal(option.getAdditionalPrice(), 1, 'POINT', 2, 'COMMA')} + ')'"></option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form">
                            <div class="form-group">
                                <select class="form-control product-amount" title="">
                                    <option th:each="option : ${#numbers.sequence(1, product.getMaxNumberOfTicketPerUser())}"
                                            th:value="${option}" th:text="${option}"></option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn btn-block btn-info btn-shopping-basket">
                            <i class="fas fa-fw fa-plus"></i> Add to shopping basket
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="webshop/fragment/shopping-basket :: shopping-basket"></div>
</div>

<script layout:fragment="script" th:inline="javascript">
    jQuery(document).ready(function ($) {
        ShoppingBasket.init();
    });
</script>
</body>
</html>