<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/chales.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="scanPage">
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><samp>events.ch.tudelft.nl</samp></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-xs-12 main text-center" style="margin-top: 60px;">
            <h3>Scan RFID- or NFC card</h3>
            <!--/*@thymesVar id="orderUserRequest" type="ch.wisv.events.app.request.CustomerAddRequest"*/-->
            <form th:action="@{/sales/order/customer/add}" th:object="${orderUserRequest}" method="POST" id="formScan">
                <input type="text" th:field="*{orderReference}" th:value="*{orderReference}" style="display: none;">
                <input type="hidden" th:field="*{rfidToken}" id="rfidToken">
                <input type="submit" style="display: none;">
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sales/sales.min.js}"></script>
</body>
</html>