<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary" th:fragment="header">
    <a class="navbar-brand" th:href="@{/}">CH Events</a>

    <button class="navbar-toggler d-lg-none collapsed" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline ml-auto mt-2 mt-md-0" th:action="@{/logout}" method="POST">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
</body>
</html>