<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<!--/*@thymesVar id="webhook" type="ch.wisv.events.core.model.webhook.Webhook"*/-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="dashboard/sidebar :: sidebar"></nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 p-5" role="main">
            <h1>Overview</h1>


            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <h6 class="card-header">Total events</h6>
                        <div class="card-body text-primary">
                            <h4 class="card-title">
                                <small>no.</small>
                                [[${totalEvents}]]
                            </h4>
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${increaseEvents} + '%'">
                                </div>
                            </div>
                            <span class="text-dark">
                                <span th:class="((${increaseEvents} > 0) ? 'text-success' : 'text-danger')">
                                    <i th:class="'fa fa-arrow-' + ((${increaseEvents} > 0) ? 'up' : 'down')"></i>
                                    <strong>[[${increaseEvents}]]%</strong>
                                </span>
                                [[${increaseEvents} > 0 ? 'more' : 'less']] than last month
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <h6 class="card-header">Total number of customers</h6>
                        <div class="card-body text-primary">
                            <h4 class="card-title">
                                <small>no.</small>
                                [[${totalCustomers}]]
                            </h4>
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${increaseCustomers} + '%'">
                                </div>
                            </div>
                            <span class="text-dark">
                                <span th:class="((${increaseCustomers} > 0) ? 'text-success' : 'text-danger')">
                                    <i th:class="'fa fa-arrow-' + ((${increaseCustomers} > 0) ? 'up' : 'down')"></i>
                                    <strong>[[${increaseCustomers}]]%</strong>
                                </span>
                                [[${increaseCustomers} > 0 ? 'more' : 'less']] than last month
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <h6 class="card-header">Average target rate</h6>
                        <div class="card-body text-primary">
                            <h4 class="card-title">
                                [[${averageTargetRate}]]
                                <small>%</small>
                            </h4>
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${averageTargetRate} + '%'">
                                </div>
                            </div>
                            <span class="text-dark">
                                <span th:class="((${changeTargetRate} > 0) ? 'text-success' : 'text-danger')">
                                    <i th:class="'fa fa-arrow-' + ((${changeTargetRate} > 0) ? 'up' : 'down')"></i>
                                    <strong>[[${changeTargetRate}]]%</strong>
                                </span>
                                [[${changeTargetRate} > 0 ? 'more' : 'less']] than previous board
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <h6 class="card-header">Average attendance rate</h6>
                        <div class="card-body text-primary">
                            <h4 class="card-title">
                                [[${averageAttendanceRate}]]
                                <small>%</small>
                            </h4>
                            <div class="progress mb-2">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${averageAttendanceRate} + '%'">
                                </div>
                            </div>
                            <span class="text-dark">
                                <span th:class="((${changeAttendanceRate} > 0) ? 'text-success' : 'text-danger')">
                                    <i th:class="'fa fa-arrow-' + ((${changeAttendanceRate} > 0) ? 'up' : 'down')"></i>
                                    <strong>[[${changeAttendanceRate}]]%</strong>
                                </span>
                                [[${changeAttendanceRate} > 0 ? 'more' : 'less']] than previous board
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Upcoming events</h4>

                            <table class="table">
                                <thead class="thead-inverse bg-primary">
                                <tr>
                                    <th>Event</th>
                                    <th>Progress target</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="event" type="ch.wisv.events.core.model.event.Event"*/-->
                                <tr th:each="event : ${upcoming}">
                                    <td th:text="${event.getTitle()}"></td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 th:aria-valuenow="${event.getSold()}"
                                                 aria-valuemin="0"
                                                 th:aria-valuemax="${event.getTarget()}"
                                                 th:style="'width: ' + ${event.calcProgress()} + '%;'"
                                                 th:text="${event.calcProgress()} + '%'">
                                                59%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Previous events</h4>

                            <table class="table">
                                <thead class="thead-inverse bg-primary">
                                <tr>
                                    <th>Event</th>
                                    <th>Attendance rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="something : ${previous}">
                                    <td th:text="${something.key.getTitle()}"></td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 th:aria-valuenow="${something.value}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 th:style="'width: ' + ${something.value} + '%;'"
                                                 th:text="${something.value} + '%'">
                                                59%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>