<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--<div th:replace="dashboard/fragments/header :: header">-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top"></nav>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragments/header :: header">
            <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
        </div>
    </div>
    <div class="row content-wrapper">
        <div th:replace="/fragments/sidebar :: sidebar"></div>
        <div class="col-sm-9 col-md-10 main">
            <div class="page-header">
                <h1><samp>Dashboard</samp></h1>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Statistics upcoming Events</h3>
                        </div>
                        <div class="panel-body">
                            <div style="width: 100%;">
                                <canvas id="comingEvents"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Statistics previous Events</h3>
                        </div>
                        <div class="panel-body">
                            <div style="width: 100%;">
                                <canvas id="previousEvents"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(231,233,237)'
    };

    window.randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var color = Chart.helpers.color;
    var previousBarData = {
        labels: [
            "[[${previous[0]}]]",
            "[[${previous[1]}]]",
            "[[${previous[2]}]]",
            "[[${previous[3]}]]",
            "[[${previous[4]}]]"
        ],
        datasets: [{
            label: 'Target',
            backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
            data: [
                [[${previousTarget[0]}]],
                [[${previousTarget[1]}]],
                [[${previousTarget[2]}]],
                [[${previousTarget[3]}]],
                [[${previousTarget[4]}]]
            ]
        }, {
            label: 'Sold',
            backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
            borderColor: window.chartColors.green,
            borderWidth: 1,
            data: [
                [[${previousSold[0]}]],
                [[${previousSold[1]}]],
                [[${previousSold[2]}]],
                [[${previousSold[3]}]],
                [[${previousSold[4]}]]
            ]
        }, {
            label: 'Scanned',
            backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: [
                [[${previousScanned[0]}]],
                [[${previousScanned[1]}]],
                [[${previousScanned[2]}]],
                [[${previousScanned[3]}]],
                [[${previousScanned[4]}]]
            ]
        }]
    };

    var comingBarData = {
        labels: [
            "[[${upcoming[0]}]]",
            "[[${upcoming[1]}]]",
            "[[${upcoming[2]}]]",
            "[[${upcoming[3]}]]",
            "[[${upcoming[4]}]]"
        ],
        datasets: [{
            label: 'Target',
            backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
            data: [
                [[${upcomingTarget[0]}]],
                [[${upcomingTarget[1]}]],
                [[${upcomingTarget[2]}]],
                [[${upcomingTarget[3]}]],
                [[${upcomingTarget[4]}]]
            ]
        }, {
            label: 'Sold',
            backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
            borderColor: window.chartColors.green,
            borderWidth: 1,
            data: [
                [[${upcomingSold[0]}]],
                [[${upcomingSold[1]}]],
                [[${upcomingSold[2]}]],
                [[${upcomingSold[3]}]],
                [[${upcomingSold[4]}]]
            ]
        }]

    };

    window.onload = function () {
        var previous = document.getElementById("previousEvents").getContext("2d");
        window.myBar = new Chart(previous, {
            type: 'bar',
            data: previousBarData,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var coming = document.getElementById("comingEvents").getContext("2d");
        window.myBar = new Chart(coming, {
            type: 'bar',
            data: comingBarData,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    };
</script>
</body>
</html>