<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" th:fragment="sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a th:href="@{/dashboard/}" class="nav-link"
               th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard/' ? 'active':''}">
                <i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> Overview
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a th:href="@{/dashboard/events/}" class="nav-link"
               th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard/events/' ? 'active':''}">
                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Events
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/dashboard/products/}" class="nav-link"
               th:classappend="${#httpServletRequest.getRequestURI().contains('/dashboard/products/') ? 'active':''}">
                <i class="fa fa-ticket fa-fw" aria-hidden="true"></i> Products
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a th:href="@{/dashboard/orders/}" class="nav-link"
               th:classappend="${#httpServletRequest.getRequestURI().contains('/dashboard/orders/') ? 'active':''}">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i> Orders
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/dashboard/customers/}" class="nav-link"
               th:classappend="${#httpServletRequest.getRequestURI().contains('/dashboard/customers/') ?  'active':''}">
                <i class="fa fa-users fa-fw" aria-hidden="true"></i> Customers
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a th:href="@{/dashboard/webhooks/}" class="nav-link"
               th:classappend="${#httpServletRequest.getRequestURI().contains('/dashboard/webhooks/') ? 'active':''}">
                <i class="fa fa-globe fa-fw" aria-hidden="true"></i> Webhooks
            </a>
        </li>
    </ul>
</nav>
</body>
</html>