<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<!--/*@thymesVar id="profile" type="ch.wisv.events.core.model.registration.Profile"*/-->
<div th:fragment="address">
    <div class="card mb-4">
        <h6 class="card-header">Address</h6>
        <div class="card-body">
            <div class="form">
                <div class="row mb-3">
                    <div class="col-8">
                        <div class="form-group">
                            <label>Street*
                                <input type="text" class="form-control" th:field="*{profile.address.streetName}"
                                       required>
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Number*
                                <input type="text" class="form-control" th:field="*{profile.address.houseNumber}"
                                       required>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Zipcode*
                                <input type="text" class="form-control" th:field="*{profile.address.zipCode}"
                                       required>
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>City*
                                <input type="text" class="form-control" th:field="*{profile.address.city}"
                                       required>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>