<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-header.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-tickets.css}" rel="stylesheet">

    <link th:href="@{/webjars/flatpickr/4.5.1/dist/flatpickr.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="webshop/fragments/header :: header ('Registration', 'events_header.jpg')"></nav>

<div class="container">
    <div class="row">
        <main class="col py-5" role="main">
            <div th:replace="fragments/messages :: messages"></div>

            <div class="row">
                <div class="col">
                    <form th:action="@{'/checkout/' + ${order.getPublicReference()} + '/registration'}"
                          th:object="${registration}" method="POST" novalidate>
                        <div th:include="webshop/registration/profile :: profile"></div>
                        <div th:include="webshop/registration/address :: address"></div>
                        <div th:include="webshop/registration/ice :: ice"></div>
                        <div th:include="webshop/registration/study :: study"></div>
                        <div th:include="webshop/registration/permissions :: permissions"></div>
                        <div th:include="webshop/registration/signing :: signing"></div>

                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="form-group text-right mb-0">
                                    <button type="submit" class="btn btn-danger">
                                        Complete registration
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/webjars/flatpickr/4.5.1/dist/flatpickr.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log('ready');
        $('#dateOfBirth').flatpickr({
            enableTime: false,
            altInput: true,
            altFormat: 'F j, Y',
            dateFormat: "Y-m-d"
        });
    });
</script>
</body>
