<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<!--/*@thymesVar id="studyDetails" type="ch.wisv.events.core.model.registration.StudyDetails"*/-->
<div th:fragment="study">
    <div class="card mb-4">
        <h6 class="card-header">Study</h6>
        <div class="card-body">
            <div class="form">
                <div class="form-group">
                    <label>Study*
                        <select class="form-control" th:field="*{studyDetails.study}" required>
                            <option th:each="study : ${T(ch.wisv.events.core.model.registration.Study).values()}"
                                    th:value="${study}"
                                    th:text="${study.getFullName()}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label>First study year*
                        <span></span>
                        <select class="form-control" th:field="*{studyDetails.firstStudyYear}" required>
                            <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()) - 9, #dates.year(#dates.createNow()))}"
                                    th:value="${year}" th:text="${year}"
                                    th:selected="${year} == ${#dates.year(#dates.createNow())}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label>Student number*
                        <input type="text" class="form-control"
                               th:field="*{studyDetails.studentNumber}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>NetID*
                        <input type="text" class="form-control"
                               th:field="*{studyDetails.netId}" required>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>