body {
    padding-top: 50px;
}

.btn-lock {
    padding: 15px;
}

/*
 * Main content
 */
.fa-check {
    color: #cccccc;
}

.container-fluid > .row:first-child {
    margin-top: 16px;
}

.checked .fa-check {
    color: #5cb85c;
}

.section-box h3 {
    margin-top: 0;
}

.sell-product-block .amount-block {
    margin-bottom: 0;
}

.amount-block input {
    text-align: center;
}

.amount-block .decrease {
    border-color: #a94442;
    color: #a94442;
    background-color: #f2dede;
    cursor: pointer;
}

.amount-block .increase {
    color: #3c763d;
    border-color: #3c763d;
    background: #dff0d8;
    cursor: pointer;
}

.scan-page {
    height: calc(100vh);
    padding-top: calc(25vh - 32px);
    text-align: center;
}

.next-button {
    position: fixed;

    bottom: 16px;
    left: 16px;
    right: 16px;
}

.scan-page.error {
    background: #D92727;
}

.scan-page.correct {
    background: #6FCC43;
}

.scan-page.already {
    background: #FFE433;
}