body {
    padding-top: 60px;
}

.btn-lock {
    padding: 15px;
}

/*
 * Main content
 */

.main {
    padding-top: 60px;
}

.fa-check {
    color: #cccccc;
}

.checked .fa-check {
    color: #5cb85c;
}

.section-box h3 {
    margin-top: 0;
}

.sell-product-block .amount-block {
    margin-bottom: 0;
}

.amount-block input {
    text-align: center;
}

.amount-block .decrease {
    border-color: #a94442;
    color: #a94442;
    background-color: #f2dede;
    cursor: pointer;
}

.amount-block .increase {
    color: #3c763d;
    border-color: #3c763d;
    background: #dff0d8;
    cursor: pointer;
}

.scan-page {
    height: calc(100vh);
    padding-top: calc(40vh - 32px);
    text-align: center;
}

.scan-page.error {
    background: #a94442;
}

.scan-page.correct {
    background: #3c763d;
}

.scan-page.already {
    background: #a9a42b;
}