/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background: #f5f5f5;
}

.btn-dashboard-header {
    margin-left: 16px;
}

/*
 * Global create-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to delete 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        font-size: 14px;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > li.divider {
    height: 1px;
    border-bottom: 1px solid #cccccc;
    margin: 5px 0;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.content-wrapper {
    padding: 20px;
    background: #ffffff;
    border-left: 1px solid #eeeeee;
    min-height: calc(100vh - 51px);
}

@media (min-width: 768px) {
    .content-wrapper {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.content-wrapper .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Autocomplete
 */
.autocomplete-suggestions {
    border: 1px solid #ccc;
    background: #FFF;
    overflow: hidden;
    border-radius: 5px;
}

.autocomplete-suggestion {
    padding: 6px 12px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.spinner {
    display: none;
}

.spinner.active {
    display: inline-block;
}

#dataTable tbody tr {
    cursor: pointer;
}

.main-button {
    font-size: 20px;
}

.main-button:hover a {
    text-decoration: none;
}

.huge {
    font-size: 40px;
}

.dashboard-panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 16px;
}

.dashboard-panel .dashboard-panel-heading {
    text-transform: uppercase;
    margin: 0;
    color: #777;
}

.dashboard-panel .dashboard-panel-info-text {
    color: #777;
}

.dashboard-panel .dashboard-panel-info-text strong {
    color: #000;
}

.dashboard-panel .dashboard-panel-info-text .fa-arrow-up {
    color: #5cb85c;
}

.dashboard-panel .dashboard-panel-info-text .fa-arrow-down {
    color: #d9534f;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.dataTables_wrapper {
    overflow-x: hidden;
}
