.page-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.page-header {
    z-index: 1;
    background-color: #fff
}

body.menu-open .page-header {
    background-color: #40556a
}

.logo-wrapper {
    position: relative;
    height: 5.625rem;
    margin-top: 1.5rem;
}

.logo-wrapper img {
    height: 100% !important;
}

@media print, screen and (min-width: 73.75em) {
    .logo-wrapper {
        padding-left: 15px
    }
}

@media screen and (min-width: 81.25em) {
    .logo-wrapper .logo {
        margin-top: 0
    }

    .logo-wrapper .logo img {
        height: 110px
    }
}

.wisv-header .container-fluid .row {
    height: 4.75rem;
}

.wisv-header-bg {
    background-color: #ffffff;
}

.navbar-brand {
    transform: translateY(30px);
    margin-top: -30px;
    margin-left: .5rem;
}

.navbar-brand img{
    max-height: 4rem;
}

@media screen and (max-width: 500px) {
    .navbar-brand {
        transform: translateY(0);
        margin-top: 0;
        margin-left: 0;
    }

    .navbar-brand img{
        max-height: 3rem;
    }
}

@media screen and (max-width: 370px) {
    .navbar-brand img{
        max-height: 2rem;
    }
}

@media screen and (max-width: 1200px) and (min-width: 500px) {
    .navbar-collapse {
        padding-top: 2.5rem;
    }
}

.wisv-header.header-left {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    z-index: 3
}

.wisv-header.header-left::before, .wisv-header.header-left::after {
    display: table;
    content: ' '
}

.wisv-header.header-left::after {
    clear: both
}

.wisv-header.header-right {
    width: 50%;
    float: right;
    background-color: #ffffff;
}

.wisv-header.header-right .center {
    margin-left: -40.625rem
}

@media screen and (min-width: 73.75em) and (max-width: 81.1875em) {
    .wisv-header.header-right .center {
        margin-left: -100%
    }
}

.top-bar {
    font-family: nimbus-sans, "Noto Sans", Lato, "Helvetica Neue", sans-serif;
    position: relative;
    z-index: 10
}

.top-bar .top-bar-left {
    float: left;
    margin-right: 50px;
}

.top-bar .top-bar-right {
    float: right;
    width: 70%;
    background-color: #ffffff;
}

@media print, screen and (min-width: 73.75em) {
    .top-bar .top-bar-right {
        padding-left: 65px;
        padding-right: 15px
    }
}

@media screen and (min-width: 73.75em) and (max-width: 81.1875em) {
    .top-bar .top-bar-right {
        padding-left: 30px
    }
}

.top-bar .menu {
    background-color: #ffffff;
}

.top-bar .menu > li:first-child {
    padding-left: 0
}

@media print, screen and (min-width: 73.75em) {
    .top-bar .menu > li {
        padding: 0 .9rem;
        vertical-align: middle;
        height: 5.625rem
    }

    .top-bar .menu > li:last-child {
        padding-right: 0
    }
}

@media screen and (min-width: 81.25em) and (max-width: 93.6875em) {
    .top-bar .menu > li:first-child {
        padding-left: 0
    }
}

.top-bar .menu > li a {
    color: #40556a;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px
}

.top-bar .menu > li a:hover, .top-bar .menu > li a:focus {
    color: #ef4545
}

@media screen and (min-width: 73.75em) and (max-width: 81.1875em) {
    .top-bar .menu > li a {
        font-size: .9375rem;
        padding-left: .2rem;
        padding-right: .2rem
    }

    .top-bar .menu > li a.login-button {
        font-size: .9375rem;
        padding-left: .5rem;
        padding-right: .5rem
    }

    .top-bar .menu > li a.login-button.account-button {
        padding-left: .5rem;
        padding-right: .5rem
    }
}

.wisv-menu-icon {
    outline: 0 none;
    height: 56px
}

@media screen and (min-width: 40em) and (max-width: 73.6875em) {
    .title-bar a.login-button {
        display: block;
        float: left
    }

    .top-bar .login-button {
        display: none
    }
}

.page-title {
    position: relative;
    z-index: 1;
    background-color: #40556a;
    background-size: cover;
    background-position: center;
    margin-top: -22px;
    padding: 6px 0 16px
}

.page-title .column, .page-title .columns, .page-title .col {
    padding-top: 1rem
}

@media print, screen and (min-width: 73.75em) {
    .page-title {
        margin-top: -35px;
        padding: 35px 0 0
    }

    .page-title .column, .page-title .columns, .page-title .col {
        padding-top: 0;
        padding-bottom: 6px;
        height: 14.1875rem
    }
}

.page-title h1 {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    border-bottom: 0;
}

.page-title .row, .page-title .col {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.page-title .column, .page-title .columns, .page-title .col {
    display: table;
    height: 8rem
}

.page-title .column h1, .page-title .columns h1, .page-title .col h1 {
    display: table-cell;
    vertical-align: middle;
}
