body {
    font-family: nimbus-sans, "Noto Sans", Lato, "Helvetica Neue", sans-serif;
    max-width: calc(100vw);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: nimbus-sans, "Noto Sans", Lato, "Helvetica Neue", sans-serif;
    font-style: normal;
    color: #40556a;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

a {
    color: #ef4545;
    transition: color .2s;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    color: #40556a;
    transition: color .2s;
    outline-width: 0;
    text-decoration: none;
}

/**
 * Backgrounds
 */
.bg-primary {
    background: #40556a !important;
}

/**
 * Sidebar
 */
.sidebar {
    background: #f3f3f3;
    border-right: 3px solid #e7ebf1;
}

.nav-pills .nav-link.active {
    color: #40556a;
    background-color: #e7ebf1;
}

.nav-pills .nav-item .nav-link {
    color: #40556a;
}

/**
 * Table
 */
.table {
    margin-bottom: 0;
}

.thead-dark th {
    background-color: inherit;
}

.thead-small th {
    padding: .25rem .75rem;
}

table.table.dataTable {
    border-collapse: collapse !important
}

div.dataTables_wrapper div.dataTables_filter label {
    text-align: right !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 300px !important;
    margin-bottom: 1rem;
}

.table-bordered td, .table-bordered th {
    border: 3px solid #e7ebf1;
}

.dataTable tr td {
    cursor: pointer;
}

.table-inner-table thead th {
    background-color: #40556a;
}

.table-inner-table tfoot th {
    background-color: #acd7fd;
}

.table-inner-table tbody tr:nth-of-type(odd) {
    background-color: #f2f6fc;
}

.dataTables_wrapper.container-fluid {
    padding: 0;
}

#penningmeesterOverview .dataTables_wrapper .col-sm-12 {
    flex: initial;
}

/**
 * Input
 */
.form .form-group:last-child {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 1rem;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'],
[type='color'], textarea {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    border: none;
    border-radius: 0;
    background-color: #e7ebf1;
    -webkit-box-shadow: inset 0 1px 2px rgba(137, 149, 160, 0.25);
    box-shadow: inset 0 1px 2px rgba(137, 149, 160, 0.25);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: #262626;
    -webkit-transition: -webkit-box-shadow 0.15s linear;
    transition: -webkit-box-shadow 0.15s linear;
    transition: box-shadow 0.15s linear, -webkit-box-shadow 0.15s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus,
[type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus,
[type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
    outline: none;
    border: none;
    background-color: #e7ebf1;
    -webkit-box-shadow: inset 0 2px 3px rgba(137, 149, 160, 0.6);
    box-shadow: inset 0 2px 3px rgba(137, 149, 160, 0.6);
    -webkit-transition: -webkit-box-shadow 0.15s linear;
    transition: -webkit-box-shadow 0.15s linear;
    transition: box-shadow 0.15s linear, -webkit-box-shadow 0.15s linear
}

select.form-control {
    height: 2.4375rem !important;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: #e7ebf1;
    font-family: inherit;
    font-size: 1rem;
    line-height: normal;
    color: #262626;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2864, 85, 106%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    -webkit-transition: -webkit-box-shadow 0.15s linear;
    transition: -webkit-box-shadow 0.15s linear;
    transition: box-shadow 0.15s linear, -webkit-box-shadow 0.15s linear
}

.form-control.is-invalid:not(:focus) {
    border-width: 2px;
    border-style: solid;
}

.form-control:disabled, .form-control[readonly], input[readonly] {
    background-color: #fff;
    background-size: 1.5rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    border: 2px dashed #e7ebf1;
    position: relative;
}

select:focus, select.form-control:focus {
    outline: none;
    border: none;
    background-color: #e7ebf1;
    -webkit-box-shadow: inset 0 2px 3px rgba(137, 149, 160, 0.6);
    box-shadow: inset 0 2px 3px rgba(137, 149, 160, 0.6);
    -webkit-transition: -webkit-box-shadow 0.15s linear;
    transition: -webkit-box-shadow 0.15s linear;
    transition: box-shadow 0.15s linear, -webkit-box-shadow 0.15s linear
}

label {
    display: block;
    margin: 0;
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.8;
    color: #40556a
}

.input-group-addon {
    border-radius: 0;
    border: 2px solid #e7ebf1;
    color: #40556a;
    background: #ffffff;
}

.input-group .form-control:not(:last-child) {
    border-right: 0 !important;
}

.form-control + .input-group-addon:not(:first-child) {
    border-left: 2px solid #e7ebf1;
}

/**
 * Card
 */
.card {
    border-radius: 0;
    border: 3px solid #e7ebf1;
}

.card-header {
    border-radius: 0;
    border-bottom: 3px solid #e7ebf1;
}

/**
 * Badge
 */
h1 .badge {
    font-size: 40%;
    border-color: #ef4545;
    background-color: #ef4545;
    vertical-align: middle;
}

/**
 * Buttons
 */
h1 .badge, .btn, .btn:hover {
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    padding: .3rem 1.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-style: solid;
    border-width: 3px;
}

.btn-sm, .btn-sm:hover {
    padding: .1rem 1rem;
    font-size: 10px;
}

h1 .badge-danger, .btn-danger {
    border-color: #ef4545;
    background-color: #ef4545;
}

.badge-danger:hover, .btn-danger:hover {
    background: rgba(255, 255, 255, 0.75) !important;
    color: #ef4545 !important;
    border-color: #ef4545 !important;
}

/**
 * Alerts
 */
.alert {
    border-radius: 0;
    background: #fff;
    border: 2px solid;
    letter-spacing: 1px;
}

.alert-danger {
    color: #ef4545 !important;
    border-color: #ef4545 !important;
}

.alert-warning {
    color: #ffae00 !important;
    border-color: #ffae00 !important;
}

.alert-info {
    color: #2AA1A9 !important;
    border-color: #2AA1A9 !important;
}

.alert-success {
    color: #8ac926 !important;
    border-color: #8ac926 !important;
}

/**
 * Progress
 */
.progress {
    border-radius: 0;
    background-color: #b4b7b9;
}

.progress .progress-bar {
    height: 30px;
    background-color: #2AA1A9;
    line-height: 30px;
    padding-left: .25rem;
}

/*
 * Autocomplete
 */
.autocomplete-suggestions {
    border: 3px solid #e7ebf1;
    background: #ffffff;
    overflow: hidden;
}

.autocomplete-suggestion {
    padding: 6px 12px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.tooltip-inner {
    max-width: 1200px;
    text-align: left;
}

/**
 * Dropdown
 */
.dropdown-menu {
    border: 3px solid #e7ebf1;
    border-bottom-width: 0;
    padding: 0;
}

.dropdown-menu .dropdown-header {
    font-size: 1rem;
}

.dropdown-menu .dropdown-item {
    border-bottom: 3px solid #e7ebf1;
    padding: 1rem 1.75rem;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
    background-color: #ffffff;
}