.ticket-overview thead th {
    padding: 0.25rem 0.75rem;
}

.ticket-overview tbody td {
    padding: 0.5rem 0.75rem;
}

.ticket-overview thead th:nth-child(2),
.ticket-overview thead th:nth-child(3) {
    width: 10rem;
}

.ticket-overview tbody td:nth-child(2),
.ticket-overview thead th:nth-child(2) {
    text-align: center;
}

.ticket-overview tbody td:nth-child(3),
.ticket-overview tfoot *:nth-child(2),
.ticket-overview thead th:nth-child(3) {
    text-align: right;
}

.btn-primary {
    color: #ffffff;
}

.btn-primary:active,
.btn-primary:hover {
    color: #40556a;
}

.card-columns-tickets {
    column-count: 1;
}

.card-columns-tickets {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: stretch;
}

.card-columns-tickets > .card {
    display: block;
    flex-basis: 100%;
    max-width: 100%;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    .card-columns-tickets {
        column-count: 1;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .card-columns-tickets {
        column-count: 2;
    }

    .card-columns-tickets > .card {
        display: block;
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-columns-tickets {
        column-count: 3;
    }

    .card-columns-tickets > .card {
        display: block;
        flex-basis: calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-columns-tickets {
        column-count: 4;
    }

    .card-columns-tickets > .card {
        display: block;
        flex-basis: calc(25% - 30px);
        max-width: calc(25% - 30px);
    }
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    thead th, tbody tr, tbody td, thead tr, tbody tr, tfoot tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .ticket-overview thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .ticket-overview tbody {
        width: 100%;
    }

    .ticket-overview tbody tr {
        width: 100%;
        border: 1px solid #e7ebf1;
    }

    .ticket-overview tbody tr td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        text-align: left;
    }

    .ticket-overview tbody tr td:nth-child(1) {
        color: #40556a;
        font-weight: bold;
    }

    .ticket-overview tbody tr td:nth-child(2),
    .ticket-overview tbody tr td:nth-child(3) {
        display: inline-block;
        width: 50%;
    }
}

#shoppingBasketTable a {
    color: #058cce;
}

.vertical-line {
    border-left: 3px solid #e7ebf1;
    width: 1px;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 30px;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.carousel-indicators {
    top: 10px;
    bottom: auto;
    margin: 0;
}

.carousel-indicators li {
    background-color: #40556a;
}

.carousel-indicators li.active {
    background-color: #ef4545;
}

.carousel-control-prev span, .carousel-control-next span {
    color: #40556a;
}

