<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="webshop/webshop-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Webshop</title>
</head>
<body>
<!--/*@thymesVar id="event" type="ch.wisv.events.domain.model.event.Event"*/-->
<div th:fragment="event-item" class="col-12 col-lg-6 col-xl-8 align-self-start mb-3">
    <div class="row">
        <h5 class="col-12 card-title mb-1" th:text="${event.getTitle()}"></h5>

        <div class="col-12 mb-4">
            <div class="badge badge-secondary"
                 th:each="cat : ${event.getCategories()}"
                 th:text="${cat.getDisplayName()}"></div>
        </div>

        <div class="col-12">
            <i class="far fa-fw fa-calendar-alt"></i>
            <span th:text="${event.getStarting().toLocalDate()} + ' @ ' + ${event.getStarting().toLocalTime()}"></span>
        </div>
        <div class="col-12" th:if="${event.getLocation() != ''}">
            <i class="fas fa-map-marker fa-fw"></i>
            <span th:text="${event.getLocation()}"></span>
        </div>
        <div class="col-12" th:if="${event.getShortDescription() != ''}">
            <i class="fas fa-info fa-fw"></i>
            <span th:text="${event.getShortDescription()}"></span>
        </div>
    </div>
</div>
</body>
</html>