<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Dashboard > Error</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <main class="col-12 p-5" role="main">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="speech p-5">
                        <h1 class="display-4 border-bottom-0 mb-0 pb-0">Owl no, [[${message}]]</h1>
                    </div>
                </div>
            </div>

            <div class="error-owl-container">
                <img th:src="@{/images/error-owl.svg}" class="error-owl" alt="">
            </div>

            <div class="row">
                <div class="d-block mx-auto mt-4">
                    <a href="https://github.com/WISVCH/events/issues/new" class="btn btn-danger p-4">
                        <span style="font-size: 24px;">
                            <i class="fab fa-github fa-fw"></i> Bug? Create an issue!
                        </span>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>