<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <main class="col p-5" role="main">
            <div class="row mb-5">
                <div class="d-block mx-auto">
                    <img th:src="@{/images/ch-logo.png}" alt="" style="width: calc(80vw); max-width: 500px;">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-2 text-center p-sm-1 m-3"
                     th:each="location : ${locations}"
                     style="font-size: 20px;">
                    <a th:href="@{${location.getUrl()}}" class="text-primary">
                        <i th:classappend="'fa fa-5x ' + ${location.getIcon()}"></i> <br>
                        <span th:text="${location.getName()}"></span>
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
</body>

