<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--<div th:replace="dashboard/fragments/header :: header">-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top"></nav>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">
        <div th:replace="/fragments/header :: header">
            <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
        </div>
    </div>
    <div class="row content-wrapper">
        <div th:replace="/fragments/sidebar :: sidebar" class="col-xs-2"></div>
        <div class="col-xs-10 main">
            <div class="page-header">
                <h1><samp>Create customer</samp></h1>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div th:replace="/fragments/message :: messages"></div>
                </div>
            </div>

            <!--/*@thymesVar id="customer" type="ch.wisv.events.data.model.order.Customer"*/-->
            <form th:action="@{/dashboard/customers/add}" th:object="${customer}"
                  method="POST">
                <input type="hidden" th:field="*{key}" th:value="*{key}">


                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="token" class="control-label">Token*</label>
                                            <input type="text" class="form-control" id="token" placeholder="Token"
                                                   th:field="*{rfidToken}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="name" class="control-label">Name*</label>
                                            <input type="text" class="form-control" id="name" placeholder="Name"
                                                   th:field="*{name}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="email" class="control-label">Email*</label>
                                            <input type="text" class="form-control" id="email" placeholder="Email"
                                                   th:field="*{email}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CH username" class="control-label">CH username</label>
                                            <input type="text" class="form-control" id="CH username" placeholder="CH username"
                                                   th:field="*{chUsername}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>