<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{../../favicon.ico}">

    <title>Events - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div th:replace="fragments/header :: header">
                <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
            </div>
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
    </div>
    <div class="row">
        <!--/*@thymesVar id="product" type="ch.wisv.events.core.model.product.Product"*/-->

        <div class="col-md-offset-2 col-md-10 content-wrapper">
            <div class="page-header">
                <h1><samp th:text="'Sold products for ' + ${product.getTitle()}"></samp></h1>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div th:replace="fragments/message :: messages"></div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="dataTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Order</th>
                        <th>Customer</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="soldProduct" type="ch.wisv.events.core.model.order.SoldProduct"*/-->
                    <tr th:each="soldProduct : ${soldProducts}">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <a th:href="'/dashboard/orders/edit/' + ${soldProduct.getOrder().getPublicReference()} + '/'"
                               th:text="'Order #' + ${soldProduct.getOrder().getId()}"></a>
                        </td>
                        <td>
                            <a th:href="'/dashboard/customers/edit/' + ${soldProduct.getCustomer().getKey()} + '/'"
                               th:text="${soldProduct.getCustomer().getName()}"></a>
                        </td>
                        <td th:text="${soldProduct.getCustomer().getEmail()}"></td>
                        <td th:text="${soldProduct.getStatus().toString()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!--suppress JSUnresolvedFunction -->
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            pageLength: 50
        });
    });
</script>
</body>
</html>