<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="admin/admin-layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>CH Events | Administrator > Tasks queue</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-4 border-bottom-0 font-weight-light">Tasks queue</h1>

    <table id="taskTable" class="table table-striped">
        <thead class="thead-inverse bg-primary">
        <tr>
            <th>Created at</th>
            <th>Trigger</th>
            <th>Payload URL</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="task" type="ch.wisv.events.domain.model.webhook.WebhookTask"*/-->
        <tr th:each="task : ${tasks}" th:attr="data-key=${task.getPublicReference()}">
            <td th:text="${#temporals.format(task.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${task.getBody().get('trigger')}"></td>
            <td th:text="${task.getPayloadUrl().toString()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script layout:fragment="script" th:inline="javascript">
    $(document).ready(function () {
        var inboxTables = $("#taskTable");
        inboxTables.DataTable({
            pageLength: 100,
            ordering: false,
            columns: [
                {"width": "20%"},
                {"width": "20%"},
                null
            ]
        });
        inboxTables.find('tbody').on('click', 'tr td:not(:last-child)', function () {
            /*[+ var link = [[@{/administrator/tasks/view/}]] + $(this).parent().data('key'); +]*/
            document.location = link;
        });
    });
</script>
</body>
</html>