<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Dashboard > Webhooks</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/sidebar :: sidebar"></nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 p-5" role="main">
            <h1>Pending tasks</h1>

            <div th:replace="fragments/messages :: messages"></div>

            <div class="table-responsive">
                <table id="webhookTable" class="table table-striped">
                    <thead class="thead-inverse bg-primary">
                    <tr>
                        <th style="padding: 3px 5px">Date</th>
                        <th style="padding: 3px 5px">Trigger</th>
                        <th style="padding: 3px 5px">Payload url</th>
                        <th style="padding: 3px 5px">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="task" type="ch.wisv.events.core.model.webhook.WebhookTask"*/-->
                    <tr th:each="task : ${tasks}">
                        <td style="padding: 3px 5px"
                            th:text="${#temporals.format(task.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td style="padding: 3px 5px">
                            <b th:text="${task.getTrigger()}"></b>
                        </td>
                        <td style="padding: 3px 5px" th:text="${task.getWebhook().getPayloadUrl()}"></td>
                        <td style="padding: 3px 5px">
                            <span class="badge" th:classappend="${task.getWebhookTaskStatus().getBadgeClass()}"
                                  data-toggle="tooltip" th:title="${task.getWebhookError()}"
                                  th:text="${task.getWebhookTaskStatus()}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        var table = $('#webhookTable');
        table.DataTable({
            pageLength: 100,
            columnDefs: [
                {width: "100px", targets: 3}
            ],
            ordering: false
        });

        var dataTablesFilter = $('.dataTables_filter');
        dataTablesFilter.empty(); // clears the content generated
        dataTablesFilter.append('<label>' +
            '<input type="search" id="dataTableFilter" class="form-control" placeholder="Search..." ' +
            'aria-controls="webhookTable"></label>');

        $("#dataTableFilter").on('keyup', function () {
            table.DataTable().search($(this).val()).draw();
        });
    });
</script>
</body>
</html>