<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/icons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/icons/safari-pinned-tab.svg}" color="#1e274a">
    <link rel="shortcut icon" th:href="@{/icons/favicon.ico}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" th:content="@{/icons/browserconfig.xml}">
    <meta name="theme-color" content="#ffffff">

    <title>CH Events</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/uet5duo.css" integrity="sha384-Bg9blBrAm2v7bP2AhXtjHdM8p8EeT4YJLHwfJ/1O257DAiLyqhVtYdCB3dzdZsmb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-header.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-tickets.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" integrity="sha384-bsGkvB1NLsaPUZL6GG0N5H9GOW9DK6KiHrrDvO57EJXoD9H3gzlohtuPENw9/24L" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body>
<nav th:replace="~{webshop/fragments/header :: header ('Checkout', 'events_header.jpg')}"></nav>

<div class="container">
    <div class="row">
        <main class="col py-5" role="main">
            <div th:replace="~{fragments/messages :: messages}"></div>

            <div class="row mb-5">
                <div class="col-12">
                    <h4 class="display-4">Select payment method</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body h-100">
                            <div class="row h-100">
                                <div class="col-3 px-3">
                                    <img class="img-thumbnail" th:src="@{/images/icon-ideal.png}" alt="">
                                </div>
                                <div class="col-9 h-100">
                                    <div class="row h-100">
                                        <div class="col-12 align-self-start mb-4">
                                            <h5 class="d-inline mt-0">iDeal</h5> - Pay now using iDeal<br>
                                            <span class="text-info"
                                                  th:text="${'Transaction costs: €' + #numbers.formatDecimal(T(ch.wisv.events.core.model.order.PaymentMethod).MOLLIE.calculateCostIncludingTransaction(order.amount) - order.amount, 1, 'POINT', 2, 'COMMA')}"></span>
                                        </div>

                                        <div class="col-12 align-self-end">
                                            <a th:href="@{'/checkout/' + ${order.getPublicReference()} + '/payment/mollie'}"
                                               class="btn btn-block btn-primary">
                                                iDeal
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4" th:if="${customer != null}">
                    <div class="card h-100">
                        <div class="card-body h-100">
                            <div class="row h-100">
                                <div class="col-3 px-3">
                                    <img class="img-thumbnail" th:src="@{/images/icon-chpay.png}" alt="">
                                </div>
                                <div class="col-9 h-100">
                                    <div class="row h-100">
                                        <div class="col-12 align-self-start mb-4">
                                            <h5 class="d-inline mt-0">CHPay</h5>
                                            - Pay now using CHPay<br>
                                            <span class="text-info"
                                                  th:text="${'Transaction costs: €' + #numbers.formatDecimal(T(ch.wisv.events.core.model.order.PaymentMethod).CHPAY.calculateCostIncludingTransaction(order.amount) - order.amount, 1, 'POINT', 2, 'COMMA')}"></span>
                                        </div>

                                        <div class="col-12 align-self-end">
                                            <a th:href="@{'/checkout/' + ${order.getPublicReference()} + '/payment/chpay'}"
                                               class="btn btn-block btn-primary">
                                                CHPay
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4" th:if="${containsOnlyReservable}">
                    <div class="card h-100">
                        <div class="card-body h-100">
                            <div class="row h-100">
                                <div class="col-3 px-3">
                                    <img class="img-thumbnail" th:src="@{/images/icon-pay-later.png}" alt="">
                                </div>
                                <div class="col-9 h-100">
                                    <div class="row">
                                        <div class="col-12 align-self-start mb-4">
                                            <h5 class="d-inline mt-0">RESERVATION</h5> - Reserve your tickets now and
                                            pay it later at the board of W.I.S.V. 'Christiaan Huygens'.<br/>

                                            <span class="text-info">Your order will expire within 3 days, if not paid before.</span>
                                        </div>
                                        <div class="col-12 align-self-end">
                                            <a th:href="@{'/checkout/' + ${order.getPublicReference()} + '/payment/reservation'}"
                                               class="btn btn-block btn-primary">
                                                Reserve tickets
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
