<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.png}">

    <title>CH Events - Sales > Scan</title>

    <!--Bootstrap core CSS -->
    <link th:href="@{/webjars/wisvch-bootstrap-theme/4.0.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/wisvch-dashboard.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css}">
</head>

<body id="scanPage">
<nav th:replace="fragments/header :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <main class="col-12 ml-auto p-5" role="main">
            <div th:replace="fragments/messages :: messages"></div>

            <div class="row text-center">
                <!--/*@thymesVar id="product" type="ch.wisv.events.core.model.product.Product"*/-->
                <h3 class="w-100 mb-5" th:text="${product.getTitle()}"></h3>

                <form th:action="@{./}" method="POST" id="formScan" class="w-100">
                    <input type="hidden" name="rfidToken" id="rfidToken">

                    <h4 class="text-center mb-4">Scan RFID- or NFC card</h4>

                    <h1 class="mb-4 pb-0 border-bottom-0" style="font-weight: 100;">or</h1>

                    <div class="col-10 mx-auto">
                        <h4 class="mb-4">Fill in an unique code</h4>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" id="uniqueCode" name="uniqueCode"
                                   placeholder="Unique code">
                        </div>

                        <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
<script>
    $("#scanPage").on('keypress', function (e) {
        var token = $("#rfidToken");

        if (e.which === 13) {
            $("#formScan").submit();
            return false;
        }
        token.val(token.val() + e.key);
    });
</script>
</body>